#wrap-header{ position:relative; background: url(http://static.deautos.com/inc/headers/img/head_01.jpg) repeat-x; height:116px; width:1004px;margin-top:15px;}

/*HEADER
----------------------------------------*/
.logo{ position:absolute; left:0; z-index:100; background:url(http://static.deautos.com/inc/headers/img/head_00.jpg) no-repeat; width:336px; height:127px;}
.logo a{ display:block; width:336px; height:127px;}
.right-corner{
	position:absolute;
	right:-1px;
	width:11px;
	height:116px;
	background-image: url(http://static.deautos.com/img/home/rightCorner.jpg);
	background-repeat: no-repeat;
}

.headerInfo{
	position:absolute;
	z-index:500;
	right:35px;
	top:21px;
	width:564px;
	overflow: hidden;
}


.headerInfo p{ color:#fff; font-weight:700; font-size:1.2em; float:left; margin-top:25px;}
.headerInfo .headerSeccion{  float:right; margin-top:25px;}


/* CSS Document */
#navigation{ position:absolute; width:600px; height:25px; left:350px; top:99px;}

/*#navigation ul{ margin:0;}
#navigation ul li{ list-style:none; display:inline;}
#navigation ul li a.btnNuevos{ background:url(http://static.deautos.com/img/home/btnNuevos.gif) no-repeat; width:84px; height:25px; float:left; display:block;}
#navigation ul li a.btnUsados{ background: url(http://static.deautos.com/img/home/btnUsados.gif) no-repeat; width:85px; height:25px; float:left; display:block;}
#navigation ul li a.btnInformacion{ background: url(http://static.deautos.com/img/home/btnInformacion.gif) no-repeat; width:123px; height:25px; float:left; display:block;}
#navigation ul li a.btnVender{ background: url(http://static.deautos.com/img/home/btnVender.gif) no-repeat; width:94px; height:25px; float:left; display:block;}
#navigation ul li a.btnMiauto{ background: url(http://static.deautos.com/img/home/btnMiauto.gif) no-repeat; width:93px; height:25px; float:left; display:block;}
#navigation ul li a.btnSeguros{ background: url(http://static.deautos.com/img/home/btnSeguros.gif) no-repeat; width:108px; height:25px; float:left; display:block;}
#navigation ul li a:hover.btnNuevos{ background:url(http://static.deautos.com/img/home/btnNuevosHover.gif) no-repeat; width:84px; height:25px; float:left; display:block;}
#navigation ul li a:hover.btnUsados{ background: url(http://static.deautos.com/img/home/btnUsadosHover.gif) no-repeat; width:85px; height:25px; float:left; display:block;}
#navigation ul li a:hover.btnInformacion{ background: url(http://static.deautos.com/img/home/btnInformacionHover.gif) no-repeat; width:123px; height:25px; float:left; display:block;}
#navigation ul li a:hover.btnVender{ background: url(http://static.deautos.com/img/home/btnVenderHover.gif) no-repeat; width:94px; height:25px; float:left; display:block;}
#navigation ul li a:hover.btnMiauto{ background: url(http://static.deautos.com/img/home/btnMiautoHover.gif) no-repeat; width:93px; height:25px; float:left; display:block;}
#navigation ul li a:hover.btnSeguros{ background: url(http://static.deautos.com/img/home/btnSegurosHover.gif) no-repeat; width:108px; height:25px; float:left; display:block;}*/


.menu
{
padding:0;
margin:0;
color:#fff;
font-size:15px;
font-family: arial, helvetica, sans-serif;
white-space:nowrap;
list-style-type:none;
font-weight: bold;
}
.menu li {display:inline;}
.menu li a
{
padding:0.2em 1em;
margin-left:4px;
background:#fff;
color:#000;
text-decoration:none;
float:left;
border:2px solid #F16822;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
}
.menu li a:hover
{
background:#fff;
color:#F16822;
}

