A:link{color: #4e4e4e;}
A:visited{color: #4e4e4e;}
A:active{color: #4e4e4e;}
A:hover{color:#FF8600; text-decoration: underline;}
A.txtver1bd-blanco:link{color: #ffffff;}
A.txtver1bd-blanco:visited{color: #ffffff;}
A.txtver1bd-blanco:active{color: #ffffff;}
A.txtver1bd-blanco:hover{color:#4e4e4e; text-decoration: underline;}
.menuizq {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000;}
.menudown {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000;}
.txtarial2 {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000;text-decoration:none;}
.precio {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #CC0000}
.txtver1bd {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold;}
.txtver1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
.txtarial3bd { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000 ; font-weight: bold}
.txtarial2bd { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #4e4e4e ; font-weight: bold; text-decoration: none;}
.txtver8 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000 }
.fondoamarillo {  background-color: #FEC436}
.fdogrisclaro {  background-color: #E9E9E9}
.bordeforms {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #666666; border: 1px #666666 solid}.fondoamarillo2 {  background-color: #fff8dc}
.fondodurazno {background-color: #F9CC95}
.txtver8bd {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000}
.fondoamarillo3 { background-color: #FFEEAA}
.fondoamarillo4 { background-color: #FFDF62}
.txtlink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold ;text-decoration: none; color: #000000}
.txtarial3bdrojo { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #CC0000; font-weight: bold }
.txtarial1 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000 }
.txtver1bdrojo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold ; color: #CC0000;}
.txtarial2bdbco { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; font-weight: bold }
.txtar3bld { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold ; text-decoration: none; color: #000000}

h1 {
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
color: #333;
padding-left: 3px;
}

h3 {
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 3px;
}

h2 {
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 3px;
}



.title_us{
    width:90%;
	height:30px;
	padding-top: 0px;
	padding-left: 40px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	}


.div001{
    width:300px;
	height:200px;
	background:#EBEBEB;
	padding-top: 0px;
	padding-left: 40px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}


.txt0101{
font-size: 27px;
font-family: Arial, Helvetica, sans-serif;
color:#666;
}

.txt0202{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
color:#666;
}