.txtver1abd {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold}
.txtar2bd {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
.bordeforms {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #666666; border: 1px #666666 solid}
.bordeboton { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; border: 1px #000000 solid; background-color: #CCCCCC}
.fdogriscl {  background-color: #E9E9E9}
.fdogrisosc { background-color: #D6D6D6}
.arialbold2rojo {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #CC0033}
.txtar2bdrojo { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold ; color: #CC0033}
.txtver1rojo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal ; color: #CC0033}
.fdoverde { background-color: #B8DC1C }
.fdoverde2 { background-color: #CDE557 }
.fdonaranja1 { background-color: #FF8400}
.volver {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bolder; color: #999999; text-decoration: none}
.txtarial1 { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal}
.arialbold3it { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #000000; font-style: italic}
.arial3it { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: normal; color: #000000; font-style: italic }
.nuevabusq { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bolder; color: #000000; text-decoration: none }
.fdoverdeosc { background-color: #94C21D}
.fdoverdecl { background-color: #B8DA1A}
.ampliar { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none }
.txtar2 {FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.txtar1 {FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

/***Aviso SuperPremium***/

.cajamadre{
width:730px;
height:115px;
background-image:url(/img/AvisoSuperPremium/bg_destaque.jpg);
margin-left:0px;
}
.ref{
width:730px;
height:17px;
float:left;
padding-top:3px;
}
.ref2{
width:730px;
height:20px;
float:left;
margin-top:5px;
}
.contador{
width:50px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:60px;
}
.visitas{
width:100px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:16px;
}
.garantizado{
width:95px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:402px;
}
.caja1{
width:730px;
height:95px;
float:left;
border:0px solid #ff0000;
}
.box1{
width:36px;
height:60px;
border:0px solid #cdcdcd;
float:left;
margin-top:5px;
}
.icon{
width:27px;
height:25px;
border:0px solid #cdcdcd;
float:left;
padding-left:8px;
padding-top:5px;
}
.year{
width:30px;
height:30px;
border:0px solid #cdcdcd;
float:left;
padding-left:6px;
padding-top:5px;
}
.foto{
width:81px;
height:61px;
float:left;
margin-top:5px;
border:1px solid #cccccc;
padding-left:1px;
padding-top:1px;
}
.box2{
width:502px;
height:60px;
border:0px solid #cdcdcd;
float:left;
margin-top:14px;
}
.titulo{
width:253px;
height:20px;
margin-left:125px;
float:left;
margin-bottom:0px;
}
.detalle{
width:490px;
height:40px;
margin-left:5px;
float:left;
align:left;
}
.logo01{
width:80px;
height:60px;
float:left;
margin-top:5px;
margin-left:12px;
}
.txt00{
font-size:11px;
font-family: Arial, Helvetica, sans-serif;
color:#333333;
font-weight:normal;
}
.txt01{
font-size:10px;
font-family: Verdana,Arial,Helvetica,sans-serif;
color:#333333;
font-weight:normal;
}
.txt02{
font-size:11px;
font-family: Arial, Helvetica, sans-serif;
color:#333333;
font-weight:bold;
}
.txt03{
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
color:#333333;
font-weight:normal;
}
.localidad{
width:73px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:5px;
text-align:center;
}
.kms{
width:45px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:0px;
text-align:center;
}
.precio{
width:105px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:5px;
text-align:center;
}
.combustible{
width:110px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:6px;
text-align:center;
}
a.link_aviso:link{
color: #F68920;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration:underline;
}
a.link_aviso:visited{
color: #F68920;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration: underline;
}
a.link_aviso:hover{
color: #333333;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration: underline;
}
a.link_aviso:active{
color: #F68920;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration:none;
}
.classhidden{
visibility: hidden;   
}
.classhiddenLogoAviso{
visibility: hidden;   
}







/* css nuevo listado*/


.lisresultado{
width:100%;
height:auto;
float:left;
}


#lisleft{
width:210px;
height:auto;
margin-right:10px;
float:left;
background:#fff;
margin-bottom:30px;
margin-left:10px;
padding-left:20px;
padding-right:20px;
}


.lisavisos{
width:734px;
height:auto;
float:left;
background:#fff;
margin-bottom:30px;
}





/*banners*/

.lisbanners{
width:100%;
height:100px;
float:left;
background:#fff;
margin-bottom:0px;
margin-top:30px;
}
.banner1{
width:728px;
height:90px;
float:left;
background:#fff;
margin-bottom:0px;
border:0px solid #cdcdcd;
}
.banner2{
width:250px;
height:90px;
float:left;
background:#f2f2f2;
margin-left:10px;
margin-right:10px;
}
.banner3{
width:250px;
height:100px;
float:left;
background:#cdcdcd;
margin-bottom:20px;
margin-right:10px;
margin-left:0px;
}
/*banners*/




.navtrail{
width:725px;
height:auto;
float:left;
background:#fff;
margin-top:10px;
margin-bottom:10px;
margin-top:5px;
padding-left:0px;

}
.globos{
width:auto;
height:27px;
float:left;
margin-right:8px;
margin-bottom:5px;
padding-top:13px;
padding-left:5px;
padding-right:5px;
background:#fff;
border:1px dashed #cdcdcd;
font-family: Arial, Helvetica, sans-serif; 
font-size: 10pt; 
font-weight: normal; 
color: #F16822; 
text-decoration: none
}



.tools{
width:auto;
height:30px;
float:left;
background:#fff;
margin-bottom:0px;
border-top:0px solid #FDC976;
padding-top:0px;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: normal; 
color: #F16822; 
text-decoration: none;
}




.filtros{
width:725px;
height:30px;
float:left;
background:#fff;
margin-bottom:10px;
border-top:3px solid #FDC976;
padding-top:10px;
}




.paginador{
width:725px;
height:30px;
float:left;
background:#fff;
margin-top:20px;
margin-bottom:10px;
border-top:1px solid #FDC976;
border-bottom:1px solid #FDC976;
padding-top:10px;
}



.aviso{
width:723px;
height:120px;
float:left;
background:#fff;
margin-bottom:10px;
border:1px solid #FDC976;
}

.avisosp{
width:723px;
height:120px;
float:left;
background:#FFF2CE;
margin-bottom:10px;
border:1px solid #FDC976;
}

.avisop{
width:723px;
height:120px;
float:left;
background:#EFEFEF;
margin-bottom:10px;
border:1px solid #FDC976;
}

.avisosimple{
width:723px;
height:30px;
float:left;
background:#fff;
margin-bottom:10px;
border:1px solid #dcdcdc;
}



.fotocar{
width:120px;
height:95px;
float:left;
background:transparent;
}


.fotocar2{
width:117px;
height:auto;
float:left;
background:transparent;
margin-left:3px;
}



.pic{
width:96px;
height:72px;
max-width:96px;
max-height:72px;
float:left;
background:#f2f2f2;
border:1px solid #FDC976;
margin-top:10px;
margin-left:10px;
}


.picsimple{
width:auto;
height:auto;
max-width:96px;
max-height:72px;
float:left;
margin-top:10px;
margin-left:10px;
}


.pic2{
width:96px;
height:66px;
max-width:88px;
max-height:72px;
float:left;
background:#f2f2f2;
border:1px solid #DEDEDE;
margin-top:10px;
margin-left:13px;
padding-top:6px;
padding-left:8px;
}


.cantfotos{
width:10px;
height:auto;
max-width:96px;
max-height:72px;
float:left;
border:0px solid #dcdcdc;
margin-top:6px;
margin-left:11px;
background-image:url(../ico_foto.png);
background-repeat:no-repeat;
background-position: 2px 1px;
padding-left:20px;
}

.cantvisit{
width:auto;
height:auto;
border:0px solid #dcdcdc;
margin-top: 6px;
margin-left:5px;
float:left;
}


.txtcontad{
font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #333; 
text-decoration: none
}


.txtvermas{
font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-left:120px;
margin-bottom:10px;
width:100px;
float:left;
}




.avisotabs{
width:480px;
max-width:590px;
height:25px;
float:left;
border-bottom:1px dashed #cdcdcd;
}




.avisotabsimple{
width:590px;
max-width:590px;
height:auto;
float:left;
border-bottom:0px dashed #cdcdcd;
}



.desplegable{
width:110px;
height:26px;
float:left;
padding-top:4px;
border-bottom:0px dashed #cdcdcd;
margin-left:10px;
}


.desplegable2{
width:110px;
height:22px;
float:left;
border:1px solid #cdcdcd;
}


.tittabs{
width:auto;
/*max-width:590px;*/
height:30px;
float:left;
border-bottom:0px dashed #cdcdcd;
}




.avisodet{
width:490px;
max-width:590px;
height:49px;
max-height:55px;
float:left;
padding-top:10px;
}


.avisoadic{
width:723px;
/*max-width:590px;*/
height:25px;
float:left;
background:#FDC976;
}


.avisoadic2{
width:723px;
/*max-width:590px;*/
height:25px;
float:left;
background:#DEDEDE;
}

.avisoadic3{
width:723px;
/*max-width:590px;*/
height:25px;
float:left;
background:#fff;
}







.tabs_txt{
width:50px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
}

.tabs_txt1{
width:490px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #F16822; 
text-decoration: none;
margin-right:10px;
margin-top:0px;
}


.tabs_txt1_simple{
width:230px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #F16822; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
}


.tab_modelo{
width:170px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
}




.tabs_txt2{
width:130px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
margin-left:100px;
}


.tabs_txttop{
width:130px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
margin-left:50px;
}


.tabs_txt2_simple{
width:130px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
margin-left:20px;
}


.save1{
height:20px;
width:auto;
float:left;
margin-left:20px;
padding-top:5px;
margin-right:0px;
}


.ver{
height:20px;
width:auto;
float:left;
margin-left:10px;
padding-top:5px;
margin-right:20px;
}


.ver2{
height:20px;
width:auto;
float:left;
margin-left:35px;
padding-top:7px;
margin-right:20px;
}


.vermas{
height:auto;
width:200;
float:left;
margin-left:0px;
padding-top:0px;
margin-right:0px;
float:left;
}


.rss{
height:20px;
width:auto;
float:left;;
padding-top:5px;
margin-right:20px;
}

.savelist{
height:20px;
width:auto;
float:left;;
padding-top:5px;
margin-right:20px;
}

.fb{
height:20px;
width:auto;
float:left;;
padding-top:5px;
margin-right:20px;
}

.tw{
height:20px;
width:auto;
float:left;;
padding-top:5px;
margin-right:20px;
}





#lisleft ul{
	margin:0 0 12px 0px;
	border-bottom:1px dashed #cdcdcd;
	padding-bottom:20px;
	height:auto;
}
#lisleft ul li{ background:url(../arrow1.gif) no-repeat 0 8px; padding:0 0 5px 15px; list-style:none;}
#lisleft ul li a{ color:#787878; font-size:13px; font-family: Arial, Helvetica, sans-serif;text-decoration:none;}
#lisleft ul li a:hover{ color:#FF8600;}

/* css nuevo listado*/