@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAmanda.cshtml";
}

<div class="pageheader notab">
    <h1 class="pagetitle">Acción</h1>
    <span class="pagedesc">Detalle de la acción</span>
</div>
<!--pageheader-->

<div id="contentwrapper" class="contentwrapper">
    <form id="Form" name="Form" runat="server" class="stdform stdform2">
        <div class="dxg-grid-container">
          
        </div>
    </form>
</div>

