<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/themes/amanda/css/style.default.css" type="text/css" />
    <link id="addonstyle" rel="stylesheet" href="/Content/themes/amanda/css/style.contrast.css" type="text/css" />
    
        <script type="text/javascript" src="/Scripts/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.alerts.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/charCount.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/i18n/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/ui.spinner.min.js"></script>
    <script type="text/javascript" src="/Scripts/custom/general.js"></script>
    <script type="text/javascript" src="/Scripts/custom/tables.js"></script>
    
    <script src="/Scripts/jquery.signalR-0.5.3.js" type="text/javascript"></script>

   @* <script src="../signalr/hubs"></script>*@
</head>
<body class="withvernav">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">Nombre.<span>Proyecto</span></h1>
            <span class="slogan">Descripción Aquí</span>
            <br clear="all" />
        </div>
        <!--left-->
        <div class="right">
            <div class="notification">
                <a class="count" href="/Dialogs/notifications.aspx">3</a>
            </div>
            <div class="userinfo">
                <img src="/images/thumbs/avatarsmall.jpg" alt="" />
                <span>Carlos</span>
            </div>
            <!--userinfo-->
            <div class="userinfodrop">
                <div class="avatar">
                    <div class="changetheme">
                        <img src="/images/thumbs/avatarbig.jpg" style="margin-left: -8px; margin-bottom: -20px;" />
                    </div>
                </div>
                <!--avatar-->
                <div class="userdata">
                    <h4 style="width: 100%">Carlos</h4>
                    <span class="email">mail</span>
                    <ul>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="/account/login.aspx">Salir</a></li>
                    </ul>
                </div>
                <!--userdata-->
            </div>
            <!--userinfodrop-->
        </div>
        <!--right-->
    </div>
    <!--Top Header-->
    <div class="header">
        <ul class="headermenu">
            <li class="current"><a href="/Backoffice/Routes"><span class="icon icon-flatscreen"></span>Tablero</a></li>
            <li><a href="#"><span class="icon icon-chart"></span>Reportes</a></li>
        </ul>

        <div class="headerwidget">
            <div class="earnings">
                <div class="one_half">
                    <h4>Pendientes</h4>
                    <h2>0</h2>
                </div>
                <!--one_half-->
                <div class="one_half last alignright">
                    <h4>Ejecutados</h4>
                    <h2>0</h2>
                </div>
                <!--one_half last-->
            </div>
            <!--earnings-->
        </div>
        <!--headerwidget-->
    </div>
    <!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="#formsub" class="editor">Administración</a> <span class="arrow"></span>
                <ul id="formsub">
                    <li><a href="/Backoffice/Routes">Rutas</a></li>
                </ul>
            </li>
            <li><a href="#formop" class="calendar">Operaciones</a> <span class="arrow"></span>
                <ul id="formop">
                    <li><a href="/Backoffice/Routes">Tablero</a></li>
                </ul>
            </li>
            <li><a href="#" class="support">Ayuda</a></li>
            <li><a href="/account/login.aspx" class="error">Salir</a></li>
        </ul>
        <a class="togglemenu"></a>
    </div>
    <!--/leftmenu-->
    <div class="centercontent">
        @RenderBody()
    </div><!-- /Main Content -->
    <div class="clear">
    </div>



<script type="text/javascript">

    jQuery(function () {
        var chat = jQuery.connection.notification;

        chat.newNotification = function (message) {
            //jQuery.jGrowl(message, { sticky: true });
            jQuery.jGrowl(message, { header: 'Importante!' });
        };

        jQuery.connection.hub.start();
    });

</script>

</body>
</html>
