<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="DatabaseConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="BaseUrlConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <DatabaseConfiguration>
    <add key="connection.string" value="Data Source=AGSMS-TDDB01\DESA;Initial Catalog=vehiclesClassifieds;Persist Security Info=True;User ID=uservehicles;Password=YUE7HJAI"/>
    <add key="hibernate.current_session_context_class" value="Spring.Data.NHibernate.SpringSessionContext, Spring.Data.NHibernate21"/>
  </DatabaseConfiguration>

  <BaseUrlConfiguration>
    <add key="filterUrlBuilder.baseUrl" value="http://localhost:59800/Clarin/Home/Autos"></add>
  </BaseUrlConfiguration>

  <spring>
    <parsers>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Template.Velocity.Config.TemplateNamespaceParser, Spring.Template.Velocity"/>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
    </parsers>
  </spring>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
