<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="DatabaseConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <DatabaseConfiguration>
    <!--<add key="connection.string" value="Data Source=AGSMS-TDDB01\DESA;Initial Catalog=Deautos_desa;Persist Security Info=True;User ID=deautos;Password=IACFB5W5"/>-->
    <!--<add key="connection.string" value="Data Source=agsms-tpap12;Initial Catalog=Pubsdb;Persist Security Info=True;User ID=deautosdesa;Password=d34u705jm"/>-->
    <add key="connection.string" value="Data Source=10.1.212.2\TEST;Initial Catalog=Pubsdb;Persist Security Info=True;User ID=deautostest;Password=QW12ER34"/>
    <add key="hibernate.current_session_context_class" value="Spring.Data.NHibernate.SpringSessionContext, Spring.Data.NHibernate21"/>
    <add key="filterUrlBuilder.baseUrl" value="/Autos"></add>
    <add key="textGlobalizator.baseDirectory" value="C:\Buscador\branches\Buscador-v1.0\Buscador.Web"></add>
    <add key="publicationDetailOldSiteUrlBuilder.baseUrl" value="http://localhost:16175/"></add>
    <add key="banners.PathXml" value="C:\Buscador\branches\Buscador-v1.0\Buscador.Domain\lstbanner.xml"></add>
    <add key="solr.publications.url" value="http://localhost:8983/solr/live"></add>
    <add key="solr.agency.url" value="http://localhost:8983/solr/agencyUsers"></add>
    <add key="solr.maxSimilarResult" value="5"></add>
    <add key="details.baseImageUrl" value="http://localhost:23275/es-AR/deautos/Image/getimage/?id="></add>
    <add key="api.apiUrl" value="http://api.deautos.com/Search.svc/"></add>
  </DatabaseConfiguration>
  
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>