<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="DatabaseConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <DatabaseConfiguration>
    <add key="connection.string" value="Data Source=agsms-tpap12;Initial Catalog=Pubsdb;Persist Security Info=True;User ID=deautosdesa;Password=d34u705jm"/>
    <!--<add key="connection.string" value="Data Source=AGSMS-TDDB01\DESA;Initial Catalog=Deautos_desa;Persist Security Info=True;User ID=deautos;Password=IACFB5W5"/>-->
    <add key="hibernate.current_session_context_class" value="Spring.Data.NHibernate.SpringSessionContext, Spring.Data.NHibernate21"/>
    <add key="filterUrlBuilder.baseUrl" value="http://localhost:59800/Clarin/Home/Autos"></add>
    <add key="textGlobalizator.baseDirectory" value="C:\Documents and Settings\gpineiro\Escritorio\buscador\Buscador.Web\"></add>
    <add key="publicationDetailOldSiteUrlBuilder.baseUrl" value="http://www.deautos.com/"></add>
  </DatabaseConfiguration>


  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>
  </spring>

  
  <!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.8.0" newVersion="2.4.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.core.interfaces" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.5.10112" newVersion="2.5.5.10112"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.core" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.5.10112" newVersion="2.5.5.10112"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
