html, body, div, h1, h2, h3, h4, h5, h6, ul, li, ol, p, form, dd, dl, dt, label, fieldset, legend, address, center{margin:0;padding:0;list-style:none;font-weight:normal;font-style:normal;}
body{font:12px/15px Arial, Helvetica, sans-serif;}
img, fieldset{border:0;}
a{text-decoration:none;color:#238cee;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
/*.home a{text-decoration:none;color:#238cee;font-size:14px;font-family:Arial, Helvetica, sans-serif;}*/
a:hover{text-decoration:underline;}
input, select, textarea{font:12px Arial, Helvetica, sans-serif;outline:none;}
textarea{margin:0;resize:none;}
table, tr, td, th, tbody, thead, tfoot{border:0;margin:0;padding:0;border-collapse:collapse;}

/*FIXES UTILES*/
.dupfix{float:left;width:1px;height:0;line-height:0;visibility:hidden;}
ul, ol, dl{position:relative;}
.pngfix{behavior:url(iepngfix.htc);}

/*CLEARFIX*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

/*CURVAS*/
.Cv{background:no-repeat;width:4px;height:4px;position:absolute;font-size:0;}
.Tl{top:0;left:0;background-position:left top;}
.Tr{top:0;right:0;background-position:right top;}
.Bl{bottom:0;left:0;background-position:left bottom;}
.Br{bottom:0;right:0;background-position:right bottom;}

/*_GENERICOS*/
.Cont{width:1004px;margin:0 auto;}
/*Cont head*/
.ContHead{width:100%;}
.ContHead .path{float:left;width:984px;padding-left:20px}
.ContHead h1{float:left;width:984px;padding-left:20px;font-family:Arial, Helvetica, sans-serif;font-size:45px;color:#f9891b; line-height:45px; padding:15px 0 54px 0;}
/**/
.breadcrum{width:984px; float:left;padding:11px 0 35px 4px;}
.breadcrum li{float:left;color:#999999;font-size:11px;}
.breadcrum li.first{ padding:0 1px 0 0px;}
.breadcrum li.last{padding:0 2px 0 2px;}
.breadcrum li.last span{padding:0 2px 0 2px;}
.breadcrum a{font-size:11px;}
.breadcrum span{color:#4e4c4d;}
/*conteiner*/
.contCol{float:left;width:1004px;}
/*modos de columna left*/
/*modo 1 columna amplia con aires a los costados*/
.colMargen .colLeft{float:left;width:964px;margin:0 20px 0 20px;}
.colMargen .colLeft h1{}
/*modo 2 columna amplia sin aires*/
.colSinMargen .colLeft{float:left;width:1004px}
.colSinMargen .colLeft h1{float:left;}
/* modo 3 columna left de 644px y aires a los costados*/
.colLMargen .colLeft{float:left;width:644px;margin:0 20px 0 20px;}
* html .colLMargen .colLeft{ margin:0 10px 0 10px;}
/*columna right*/
.colRight{float:right;width:300px;margin-right:20px;}
.bold{ font-weight:bold; padding:0;}
/*Hs*/
h1{font-family:Arial, Helvetica, sans-serif;font-size:45px;color:#f9891b; line-height:45px;}
h1.titError{font-family:Arial, Helvetica, sans-serif;font-size:40px;line-height:40px;color:#bc0400;font-weight:bold;}
h1.titulo1{font-family:Arial, Helvetica, sans-serif;font-size:30px;font-weight:bold;color:#333333;}
h1.titBold{font-size:55px; line-height:55px;color:#f9891b; font-weight:bold; letter-spacing:-1px;}
h2{font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#000000;}
h2.titulo2{ font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#444444;}
h3{font-family:Arial, Helvetica, sans-serif; font-size:22px; line-height:22px; font-weight:bold; color:#000000;}
h4{font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#000000;}
h5{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#333333;}
/*Ps*/
p {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#757571;}
p.par{font-family:Arial, Helvetica, sans-serif; font-size:17px;color:#757571;}
p.par2{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;}
/*Links*/
a.aFlecha{font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a.aUnder{text-decoration:underline;}
a.Mbold{font-size:16px; font-weight:bold;}
/*Bullets*/
ul.bullet li{padding-left:18px; padding-bottom:6px;background:url(../../../Content/images/blt_naranja.gif) left 6px no-repeat;}
.listado li{float:left;background: url(../../../Content/images/blt_new_narannja.png) left 6px no-repeat;padding:0 0 10px 13px;font-size:12px;padding:0;}
.listadoOK li{background: url(../../../Content/images/sp_blt.png) 0 -134px no-repeat;padding:0 0 8px 15px;font-size:12px;}

/*boton naranja mediano*/
.btnNar{color:#FFF;font-size:14px;font-weight:bold;float:left;cursor:pointer;text-decoration:none;margin:0 auto;padding-top:14px;}
.btnNar:hover{ text-decoration:none;}
.btnNar span{float:left;display:block;height:28px;text-decoration:none;}
.btnNar .L{background: url(../../../Content/images/btn_left.png) left top no-repeat;width:2px; height:28px;}
.btnNar .R{background: url(../../../Content/images/btn_right.png) left top no-repeat;width:2px;}
.btnNar .M{background: url(../../../Content/images/btn_midle.gif) left top repeat-x; padding-bottom: 10px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 4px;height:15px;height:14px;font-family:Arial, Helvetica, sans-serif; font-size:14px;font-weight:normal;}
.btnNar:hover .L{background: url(../../../Content/images/btn_left.png) left bottom no-repeat;}
.btnNar:hover .R{background: url(../../../Content/images/btn_right.png) left bottom no-repeat;}
.btnNar:hover .M{background: url(../../../Content/images/btn_midle.gif) left bottom repeat-x;text-decoration:none;}
/*.btnNar{ float:left;background:url(../../../Content/images/fd_CambioEmail_boton_sombra.gif) 164px 62px no-repeat;}*/

/*boton naranja chico*/
.btnNarChico{color:#FFF;font-size:14px;font-weight:bold;float:left;cursor:pointer;text-decoration:none;margin:0 auto; padding-top:14px;}
.btnNarChico:hover{text-decoration:none;}
.btnNarChico span{float:left;display:block;height:28px;text-decoration:none;}
.btnNarChico .L{background:url(../../../Content/images/sp_general.png) left top no-repeat;width:3px;height:20px;}
.btnNarChico .R{background:url(../../../Content/images/sp_general.png) -3px top no-repeat;width:3px;height:20px;}
.btnNarChico .M{background: url(../../../Content/images/sp_generalR.gif) left top repeat-x;padding:2px 12px 4px;height:15px; height:14px;font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal;}
.btnNarChico:hover .L{background:url(../../../Content/images/sp_general.png) left -20px no-repeat;}
.btnNarChico:hover .R{background:url(../../../Content/images/sp_general.png) -3px -20px no-repeat;}
.btnNarChico:hover .M{background: url(../../../Content/images/sp_generalR.gif) left -20px repeat-x;text-decoration:none;}
.btnNarChico{ float:left;background:url(../../../Content/images/fd_CambioEmail_boton_sombra.gif) 164px 62px no-repeat;}

/*boton azul*/
.btnAzul{color:#FFF;font-size:14px;font-weight:bold;float:left;cursor:pointer;text-decoration:none; margin:0 auto; padding-top:14px;}
.btnAzul:hover{ text-decoration:none;}
.btnAzul span{float:left;display:block;height:28px;text-decoration:none;}
.btnAzul .L{background: url(../../../Content/images/btn_azulleft.gif) left top no-repeat;width:3px; height:29px;}
.btnAzul .R{background: url(../../../Content/images/btn_azulright.gif) left top no-repeat;width:3px;}
.btnAzul .M{background: url(../../../Content/images/btn_azulmidle.gif) left top repeat-x;padding:7px 21px;height:28px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal;}
.btnAzul:hover .L{background: url(../../../Content/images/btn_azulleft.gif) left bottom no-repeat;}
.btnAzul:hover .R{background: url(../../../Content/images/btn_azulright.gif) left bottom no-repeat;}
.btnAzul:hover .M{background: url(../../../Content/images/btn_azulmidle.gif) left bottom repeat-x;text-decoration:none;}
.btnAzul{ float:left;background:url(../../../Content/images/fd_CambioEmail_boton_sombra.gif) 164px 62px no-repeat;}


/* boton gris estado activo*/
.btnGrisChico{width:100%; float:left;}
.btnGrisChico a{float:left; display:block; background:url(../../../Content/images/btn_ficha_comparar_agregar.gif) left top no-repeat; padding:2px 15px 3px; margin:16px 0 0 34px; font-size:12px;}
.btnGrisChico a:hover{ background-position: bottom; text-decoration:none;}
.btnGrisChico span{float:left; display:none; background:url(../../../Content/images/btn_ficha_comparar_agregar_inactive.gif) left top no-repeat; padding:2px 16px 3px; color:#a5a59c; margin:16px 0 0 34px; font-family:Arial, Helvetica, sans-serif;}
/*boton gris estado inactivo*/
.inactive .btngrisChico a{ display:none;}
.inactive .btngrisChico span{ display:block;}

/*POP UP GENERICO 1*/
body{ background-color:#666666;}
.rojo{color:#dc2929;}
.PopUpCont.chico{ /*width:980px;*/ height:100%; float:left; margin:0 auto;}
.PopUpCont.chico .ContOpacExpress{ top:500px; left:25%; width:692px;}
.cvTop{ width:690px; height:5px; background:url(../../../Content/images/pop-up_cv-top.png) left top no-repeat;}
.cvBottom{width:690px; height:5px; background:url(../../../Content/images/pop-up_cv-bottom.png) left top no-repeat;}
.PopUpCont.chico table{ width:690px;}
.PopUpCont td{}
.PopUpCont td.cv_left{width:5px; background:#f3f3f0;opacity:0.7;filter:alpha(opacity=70);}
*html .PopUpCont td.cv_left{filter:alpha(opacity=90);}
.PopUpCont td.cv_right{width:5px; background:#f3f3f0;opacity:0.7;filter:alpha(opacity=70);}
*html .PopUpCont td.cv_right{filter:alpha(opacity=90);}
/*pop up cont*/
.chico .popCont{width:100%; background:#FFFFFF; float:left;}
.PopUpCont.chico .contHd{ float:left; width:100%; background:url(../../../Content/images/pop-up_chico_degrade.gif) center
bottom no-repeat;}
.PopUpCont.chico .contHd h1{ font-family:Arial, Helvetica, sans-serif; font-size:20px;}
.PopUpCont.chico .contHd h4{font-size:20px;padding:19px 0 20px 18px; width:auto; float:left;}
/*cerrar*/
.PopUpCont .cerrar{ float:left; width:23px; height:21px; background: url(../../../Content/images/btn_pop-up_cerrar.gif) left top no-repeat; margin-top:13px;}
.PopUpCont .cerrar:hover{ background-position: bottom;}
.contForm{ float:left; width:100%;}
.contForm form{ padding-left:20px;}
.contForm .requerido{ float:left; font-size:12px; padding-bottom:30px; padding-top:10px;}
.contForm .fila1{ width:618px; float:left;}
.contForm .fila1 label{ width:203px; text-align:right; padding-right:10px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666;}
.contForm .fila1 input{ width:205px; float:left; border:1px solid #d4d4cd; padding-bottom:5px; padding-top:4px;}
.asterisco{ font-weight:bold; padding:7px 0px 0px 4px; float:left;}
.contForm .fila2{ width:618px; float:left; padding-bottom:4px;}

/*CAJA OK*/
.cajaOk{ float:left; width:573px; margin:15px 0 10px 53px; border:1px solid #a5d2a8; background:#e1f7d8 url(../../../Content/images/fd_pop-up_ok.gif) 14px 11px no-repeat;}
*html .cajaOk{ margin-left:28px;}
.cajaOk .textCont{ float:left; padding:13px 0 30px 65px; width:509px;}
.cajaOk .textCont span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#237b35; padding-right:5px; line-height:18px;}
.contForm .botonCont{ float:left; padding:0 0 25px 297px;}
/*CAJA ERROR*/
.cajaError{ float:left; width:573px; margin:15px 0 10px 53px; border:1px solid #ea9090; background:#f9dfdf url(../../../Content/images/fd_pop-up_error.gif) 14px 11px no-repeat;}
*html .cajaError{ margin-left:28px;}
.cajaError .textCont{ float:left; padding:13px 0 14px 65px; width:509px;}
.cajaError .textCont span{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#e23333; padding-right:5px;}
.cajaError .textCont span.first{ width:492px;}
.cajaError .textCont span.last{ float:left; width:auto;}
.contForm .botonCont{ float:left; padding:0 0 25px 297px;}

/*Caja Gris Para Seleccionar Links*/
.cajaSeleccion{ float:left; width:100%; margin-bottom:25px;}
.cajaSeleccion .titular{ float:left; border:1px solid #e4e4de; background:url(../../../Content/images/fd_cajaSeleccionLinks_degrade.gif) left bottom repeat-x; width:100%; /*height:41px;*/}
.cajaSeleccion .contLinks{float:left; width:100%; border-left:1px solid #e4e4de; border-right:1px solid #e4e4de;}
.cajaSeleccion .contLinks ul{ float:left; padding-top:10px;}
.cajaSeleccion .contLinks ul li{ float:left; width:160px;}
.cajaSeleccion .contLinks ul li a{ display:block; padding:6px 0 6px 13px; width:auto;}
.cajaSeleccion .contLinks ul li span{ width:auto; background:#f3f3ef; padding:6px 17px 8px 12px; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin-left:6px; display:block; display:none; margin-bottom:-2px;}
/*ie7 fix*/ :first-child+html .cajaSeleccion .contLinks ul li span{ margin-bottom:-5px;}

/*estados*/
.cajaSeleccion .contLinks ul li.active a{ display:none;} 
.cajaSeleccion .contLinks ul li.active span{ display:inline-block;}
.cajaSeleccion .pie{float:left; width:100%;border:1px solid #e4e4de;}
.pie .verTodas{ float:right; width:auto; background:url(../../../Content/images/btl_flecha.png) 59px 8px no-repeat; padding:7px 32px 6px 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

/*MICROSITE CONCESIONARIA*/
.cajaNegra{ background:#333333; padding:0 5px 5px 5px; position:relative;}
.cajaNegra .contHead{ height:119px;}
/*curvas negras*/
.cajaNegra .Cv{ background-image:url(../../../Content/images/cv_blackBox.gif);width:5px;height:5px;position:absolute;font-size:0;}
.cajaNegra .Tl{top:0;left:0;background-position:left top;}
.cajaNegra .Tr{top:0;right:0;background-position:right top;}
.cajaNegra .Bl{bottom:0;left:0;background-position:left bottom;}
.cajaNegra .Br{bottom:0;right:0;background-position:right bottom;}
.cajaNegra .cajaBlanca{ display:block; background:#FFFFFF; padding:17px 0px 9px 10px;}
/*Caja Bordes Grises 1*/
.cajaGris{border:5px solid #e9e9e2; display:block; position:relative; margin-bottom:23px;}
.cajaGris .titular h4{ font-size:20px; line-height:39px; padding-left:12px; float:left; width:auto;}
.cajaGris .titular h2{ font-size:20px; line-height:39px; padding-left:12px; float:left; width:auto; color: #000000; font-family: Arial,Helvetica,sans-serif; font-weight: bold;}
/*Main===== el modificador "grande o chico" es para bariar el tamaño de la sombra*/
.cajaGris .main.grande{ display:block; background: url(../../../Content/images/fd_cajaGris_sombra.gif) left top no-repeat; padding-bottom:15px;}
.cajaGris .main.chico{background:#ffffff url(../../../Content/images/fd_cajaGris_sombra_chica.gif) left top no-repeat;float:left;width:96%;padding-top:9px; padding-left:0px;padding-left:8px;}
/*curvas grises*/
.cajaGris .Cv{ background-image: url(../../../Content/images/cv_grises_servicios.gif);width:5px;height:5px;position:absolute;font-size:0;}
.cajaGris .Tl{top:-5px;left:-5px;background-position:left top;}
.cajaGris .Tr{top:-5px;right:-5px;background-position:right top;}
.cajaGris .Bl{bottom:-5px;left:-5px;background-position:left bottom;}
.cajaGris .Br{bottom:-5px;right:-5px;background-position:right bottom;}

/*Caja Bordes Grises Chica*/

/*PAGINADO*/
.paginadoColumna{ width:800px; margin:0 auto;}
.paginadoColumna .paginadoCont{padding:14px 6px 2px 16px; text-align:center;}
.paginadoCont p{ color:#888888; font-family:Arial, Helvetica, sans-serif; font-size:14px; display:inline-block;}
.paginadoColumna .paginadoCont .paginado{ text-align:center; /*display:inline-block;*/}
.paginadoColumna .paginadoCont .paginado li{ display:inline;}
.paginadoColumna .paginadoCont .paginado li span{ color:#ddddd5;}
.paginadoColumna .paginadoCont .paginado li a{ padding:0 6px 0 6px;}
/*estados*/
.paginadoColumna .paginadoCont .paginado li.active a{ font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#f78f2b; /*background:url(../../../Content/images/fd_paginado_active.gif) left top no-repeat;*/ padding:5px 0px 8px 0px;}
.paginadoColumna .paginadoCont .paginado li.active a .L{ display:inline-block; height:26px; width:3px; background:url(../../../Content/images/cv_paginado_active.png) left top no-repeat; position:relative; top:7px;}
.paginadoColumna .paginadoCont .paginado li.active a .M{ display:inline-block; height:26px; background:url(../../../Content/images/cv_paginado_active_M.gif) left top repeat-x; padding-top:7px; padding-left:5px; padding-right:5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#f78f2b;}
.paginadoColumna .paginadoCont .paginado li.active a .R{ display:inline-block; height:26px; width:3px; background:url(../../../Content/images/cv_paginado_active.png) right top no-repeat; position:relative; top:7px;}

.paginadoColumna .paginadoCont .paginado li.active a:hover{ text-decoration:none;}
.paginadoColumna .paginadoCont .paginado li.active span{ display:none;}


.paginadoColumna .paginadoCont .paginado li .BotonPag a{}
.paginadoColumna .paginadoCont .paginado li .BotonPag span{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#888888;}

.paginadoColumna .paginadoCont .paginado li a.ant{ font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:0 21px 0 7px;}
.paginadoColumna .paginadoCont .paginado li span.ant{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#888888; padding:0 21px 0 5px;}
.paginadoColumna .paginadoCont .paginado li .sig{ padding-left:21px; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding-right:4px;}
.paginadoColumna .paginadoCont .paginado li span.sig { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#888888; padding-right:8px;}

.paginadoColumna .paginadoCont .paginado li span.irPrimero{background: url(../../../Content/images/btn_primero_ultimo_flechas.gif) left 3px no-repeat; width:13px; height:12px; display:inline-block; padding:3px 3px 6px 3px; font-size:18px; margin-bottom:-4px;}
.paginadoColumna .paginadoCont .paginado li span.irUltimo{background: url(../../../Content/images/btn_primero_ultimo_flechas.gif) -19px 3px no-repeat; width:13px; height:12px; display:inline-block; padding:3px 3px 6px 3px; font-size:18px; margin-bottom:-4px;}
.paginadoColumna .paginadoCont .paginado li a.irPrimero{background: url(../../../Content/images/btn_primero_ultimo_flechas.gif) -38px 3px no-repeat; width:13px; height:12px; display:inline-block; padding:3px 3px 6px 3px; font-size:18px; margin-bottom:-4px;}
.paginadoColumna .paginadoCont .paginado li a.irUltimo{background: url(../../../Content/images/btn_primero_ultimo_flechas.gif) -57px 3px no-repeat; width:13px; height:12px; display:inline-block; padding:3px 3px 6px 3px; font-size:18px; margin-bottom:-4px;}

/*------------------*/
.paginadoColumna .paginadoCont .paginado li.active p{ font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#f78f2b;padding:0;position:relative;display:inline;height:26px;line-height:10px;margin-left:-2px}
/*ie7 fix*/
:first-child+html .paginadoColumna .paginadoCont .paginado li.active p{ margin-bottom:-9px;}
.paginadoColumna .paginadoCont .paginado li.active p .L{ display:inline-block; height:26px; width:3px; background:url(../../../Content/images/cv_paginado_active.png) left top no-repeat; position:absolute; top:-4px;left:-3px;font-size:0;}
.paginadoColumna .paginadoCont .paginado li.active p .M{ display:inline-block; height:19px; background:url(../../../Content/images/cv_paginado_active_M.gif) left top repeat-x; padding:7px 7px 0 6px; color:#f78f2b;}
.paginadoColumna .paginadoCont .paginado li.active p .R{ display:inline-block; height:26px; width:3px; background:url(../../../Content/images/cv_paginado_active.png) right top no-repeat; position:absolute; top:-4px;right:-2px;font-size:0;}
/*ie6*/* html .paginadoColumna .paginadoCont .paginado li.active p{line-height:14px}
/*ie7*/*:first-child+html  .paginadoCont .paginado li.active p{/*line-height:14px*/}
/*ie6*/* html .paginadoColumna .paginadoCont .paginado li.active p .L, * html .paginadoColumna .paginadoCont .paginado li.active p .R{top:0;}
/*ie7*/*:first-child+html .paginadoColumna .paginadoCont .paginado li.active p .L, *:first-child+html .paginadoColumna .paginadoCont .paginado li.active p .R{top:0;}

/*TERMINOS Y CONDICIONES*/
.TyC .colLeft{ margin-left:30px;}
.TyC{background-color:#e9e9e2;}
.TyC .Cont{ background-color:#ffffff;}
.TyC .terminosycondicionesCont{ width:650px; float:left; padding-bottom:90px;}
.TyC .terminosycondicionesCont a{ font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.TyC .terminosycondicionesCont p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-bottom:12px; color:#333333; line-height:18px;}
.TyC .terminosycondicionesCont span{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#fb8f2a;}
.TyC .terminosycondicionesCont h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#333333; float:left; padding:0 0 22px; width:95%;}
.TyC .terminosycondicionesCont .listado{ float:left; width:100%;}
.TyC .terminosycondicionesCont .listadoMargen{ padding:0 0 0 21px; float:left;}
.TyC .ContHead .path{ background:none;}
.TyC h1.principal{ font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#333333; width:100%;}
.TyC .listado .puntos span{float:left; padding:0 10px 0 0;}
.TyC .listado .puntos p{float:left; width:623px;}
/*listado margen*/
.TyC .listadoMargen span{ float:left; padding-right:10px;}
.TyC .listadoMargen p{ width:590px;}
.TyC h5{ padding-bottom:8px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#444444;}
.TyC p.inner{ padding-left:28px;}
/*listado margen doble*/
.TyC .margenDoble{padding:0 0 0 48px; float:left;}
.TyC .margenDoble span{float:left; padding:0 10px 0 0;}
.TyC .margenDoble p{float:left; width:554px;}
.TyC .margenDoble p.mod{ padding-left:8px;}
.TyC .inner2{ padding-left:20px;}
.TyC p{ float:left;}
/**/
.TyC .listadoMargen.declaraciones{ padding:0 0 0 28px;}
.TyC .listadoMargen.declaraciones .puntos p{ width:585px;}
.TyC p.bullet{ padding-left:18px; background:url(../../../Content/images/blt_naranja.gif) left 5px no-repeat;}
.TyC .inner.links a{ padding-left:8px;}
.TyC .publicOnline{ padding-left:28px;}
.TyC h4.servPart{ padding-bottom:10px;}
.TyC .puntos.decimal p{ padding-left:7px;}
.TyC .puntos strong{ color:#888888;}
/*-----------------------------------------------------------------*/
/*ICONOS favoritos, imprimir, mail*/
.iconos .iconosTop{ width:100%; float:left; padding-top:11px; padding-bottom:11px; padding-left:1px;}
.iconos .iconosTop a{ width:30px; height:28px; float:left; margin-right:2px;}
.iconos .iconosTop a:hover{ background: url(../../../Content/images/sp_general.png) -49px -14px no-repeat;}
.iconos .iconosTop a span{ width:30px; height:28px; float:left;}
.iconos .iconosTop a span.favoritos{background:url(../../../Content/images/sp_general.png) -31px -93px no-repeat;}
.iconos .iconosTop a span.imprimir{ background:url(../../../Content/images/sp_general.png) -93px -94px no-repeat;}
.iconos .iconosTop a span.mail{ background:url(../../../Content/images/sp_general.png) -62px -92px no-repeat;}
.iconos .iconosTop .pipeline{ float:left; width:3px; height:28px; background:url(../../../Content/images/fd_pipeline.gif) left center no-repeat;}
#pipeline2{ float:left; width:3px; height:12px; background:url(../../../Content/images/fd_pipeline.gif) left center no-repeat;}

/* botonera ranking */

.BotoneraRanking{width:306px;float:left;margin-top:10px;}
.BotoneraRanking a:hover{text-decoration:none;}
.BotoneraRanking span{padding:20px 0 0 37px; width:112px; height:28px;font-size:12px;}
.BotoneraRanking .btNoticia{float:left;margin:0 2px 2px 0;background:url(../../../Content/images/im_btNoticia.gif) left top no-repeat;}
.BotoneraRanking .btNoticia.active{background-position: bottom;color:#FFFFFF}
.BotoneraRanking .btNoticia:hover{background-position:left -49px}
.BotoneraRanking .btConsejo{margin-right:2px;float:left;background:url(../../../Content/images/im_btCosejo.gif) left top no-repeat;}
.BotoneraRanking .btConsejo:hover{background-position:left -49px}
.BotoneraRanking .btConsejo.active{background-position:bottom;color:#FFFFFF}
.BotoneraRanking .btInfo{ width:112px;padding-left:42px;margin-bottom:2px;float:left;background:url(../../../Content/images/im_btInfo.gif) left top no-repeat;}
.BotoneraRanking .btInfo:hover{background-position:left -49px}
.BotoneraRanking .btInfo.active{background-position:bottom;color:#FFFFFF}
.BotoneraRanking .btRank{ width:105px;padding-left:44px;float:left;background:url(../../../Content/images/im_btRank.gif) left top no-repeat;}
.BotoneraRanking .btRank:hover{background-position:left -49px}
.BotoneraRanking .btRank.active{background-position:bottom;color:#FFFFFF;font-weight:bold}

/* banner */
.bn300x250{margin-top:20px;float:left}

/* ranking */

.Ranking .Cont{background-color:#FFFFFF;}
.Ranking h1{line-height:20px}
.Ranking h1.titulo1{padding-bottom:10px}
.Ranking  h4{font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; color:#000000;}
.Ranking .subtitulo1{font-size:18px;color:#333333;padding-bottom:45px;}
.Ranking .subtitulo1 span{color:#666666;}
.Ranking .tituModelos{width:644px;background:url(../../../Content/images/im_sombraTitu01.gif)bottom no-repeat;padding-bottom:10px;padding-left:15px;height:20px;float:left;}
.Ranking .Ulright{float:left;width:315px;padding:16px 0 33px 0;font: 14px/20px Arial, Helvetica, sans-serif;color:#333333}
.Ranking .Ulleft{float:left;width:299px;padding:16px 0 33px 30px;Font: 14px/20px Arial, Helvetica, sans-serif;color:#333333}
.Ranking .Ulright li span{padding-right:12px;text-align:right;width: 36px;float:left}
.Ranking .Ulleft li span{padding-right:12px;text-align:right;width: 36px;float:left}

/* titulo sombra */

/* consejos y tips / informacion y tramites */
.Consejos h1.titulo1{padding-bottom:41px} 
.Consejos .Cont{background-color:#FFFFFF;}
.Consejos .img{float:left; border: 1px solid #d7d7d0;padding:2px;margin-right:13px}
.Consejos .colLeft a.tit{font-weight:bold;margin:1px 0 10px; display:block;font-size:16px;float:left; width:499px; line-height:18px;}
.Consejos .colLeft .notas p{color:#333; line-height:19px;float:left; width:496px;}
.Consejos .colLeft .notas li{border-bottom:1px solid #efefea;margin-bottom:22px;}
.Consejos .colLeft .notas li.last{border-bottom:none;}
.Consejos .colLeft .verTodas{margin-top:18px;padding-right:25px;}
.Consejos .padBottom {padding-bottom:40px;}

/*BOTON DINAMICO GRIS CHICO*/
.btnDinamicoGris{ float:left;}
.btnDinamicoGris:hover{ text-decoration:none;}
.btnDinamicoGris .L{ width:2px; height:22px; float:left; background:url(../../../Content/images/fd_fichas_btn-compararLR.png) left top no-repeat;}
.btnDinamicoGris .M{ float:left; background:url(../../../Content/images/fd_fichas_btn-compararM.gif) left top repeat-x; padding:3px 12px 4px; font-size:11px;}
.btnDinamicoGris .R{ width:2px; height:22px; float:left;background:url(../../../Content/images/fd_fichas_btn-compararLR.png) right top no-repeat;}
.btnDinamicoGris:hover .L{ background-position:left bottom;}
.btnDinamicoGris:hover .M{ background-position: left bottom;}
.btnDinamicoGris:hover .R{background-position:right bottom;}

/*BOTON DINAMICO CHICO VERDE*/
.llamaGratis{ float:left; margin-top:6px; margin-bottom:16px;}
.llamaGratis .L{ width:3px; height:28px;float:left; background:url(../../../Content/images/fd_fichas_boton-dinamico-verdeLR.gif) left top no-repeat;}
.llamaGratis .M{float:left; background:url(../../../Content/images/fd_fichas_boton-dinamico-verdeHovers.gif) left top repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; padding:6px 20px 7px 20px;}
.llamaGratis .R{width:3px; height:28px;float:left;background:url(../../../Content/images/fd_fichas_boton-dinamico-verdeLR.gif) right top no-repeat;}
.llamaGratis:hover{ text-decoration:none;}
.llamaGratis:hover .L{ background-position:left bottom;}
.llamaGratis:hover .M{ background-position:left bottom;}
.llamaGratis:hover .R{background-position:right bottom;}

/*BOTON DINAMICO CHICO AZUL*/
.btnDinAzul{ float:left; margin-top:6px; margin-bottom:7px;}
.btnDinAzul .L{ width:3px; height:28px;float:left; background:url(../../../Content/images/sp_general.png) left -40px no-repeat;}
.btnDinAzul .M{float:left; background: url(../../../Content/images/sp_generalR.gif) left -40px repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; padding:6px 11px 7px;}
.btnDinAzul .R{width:3px; height:28px;float:left;background:url(../../../Content/images/sp_general.png) -3px -40px no-repeat;}
.btnDinAzul:hover{ text-decoration:none;}
.btnDinAzul:hover .L{ background-position:left -68px;}
.btnDinAzul:hover .M{ background-position:left -191px;}
.btnDinAzul:hover .R{background-position:-3px -68px;}


/*DIV DESPLEGADO DE SOLAPAS*/
.Desplegado{ width:100%; background-color:#ffffff; margin-bottom:20px; float:left;}

/*columnaLeft*/
.columnaLeft{ float:left; width:644px;}

/*cajas grises*/
.cajaGris .titular.gris{background:#ffffff; padding-bottom:5px;}
.cajaGris h4.avisos{ width:333px; padding:0 0 0 11px; font-size:18px;}
/*ESTRELLAS NEGRAS PARA IMPRIMIR*/
.blackstar{width:14px; height:15px; background: url(../../../Content/images/fd_blackstars.png) left top no-repeat; float:left; padding:0 1px 0 1px;}
.blackstar.active{ background-position:bottom;}
/**/
.multitulo{ font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; line-height:20px; padding:10px 0 6px 0;}
/*fila gris*/
.filagris{ background-color:#f8f8f5;}
/*POP UP CON BORDES OPACOS TAMAÑO CHICO*/
.ajaxx{ position:absolute;left:573px; top:263px; width:436px; z-index:2;}
.ajaxx .cvTop{ height:5px; width:436px; background:url(../../../Content/images/fd_ajaxx_top.png) left top no-repeat;}
.ajaxx .cvBottom{ height:5px; width:436px; background:url(../../../Content/images/fd_ajaxx_bottom.png) left bottom no-repeat;}
.ajaxx table{ width:434px;}
.ajaxx table .bordeL{ background-color:#F3F3F0; opacity:0.7;filter:alpha(opacity=70); width:5px;}
.ajaxx table .bordeR{ background-color:#F3F3F0; opacity:0.7;filter:alpha(opacity=70); width:5px;}
.ajaxx .popCont{width:100%; background:#FFFFFF; float:left;}
.ajaxx .contHd{ float:left; width:100%; background: url(../../../Content/images/fd_ajaxx_degrade.png) center
bottom no-repeat;}
.ajaxx .contHd h4{font-size:18px;padding:16px 0 20px 19px; width:auto; float:left; color:#333333; font-weight:normal;}
.contHd .cerrar{ float:right; width:23px; height:21px; background: url(../../../Content/images/btn_pop-up_cerrar.gif) left top no-repeat; margin-top:12px; margin-right:16px;}
.contHd .cerrar:hover{ background-position: bottom;}
.ajaxx .contForm{ float:left; padding-left:20px; width:97%;}

.finalizado .cajaError {
width: 100%;
margin-left: 0;
margin-bottom: 14px;
margin-top: 0;
}
.finalizado .cajaError .textCont {
padding: 19px 0 17px 69px;
line-height: 18px;
}

.listado li p{padding:0 0 4px 14px!important;line-height:16px!important;}



/*-------HOME------------------------------------------------------------------------------*/
/*solapa scroll ir al comparador*/
.solapaScroll{position:fixed;bottom:-1px;right:240px;z-index:10;}

/*ficha_finalizado*/
.finalizado{}
.finalizado .cajaError{ width:100%; margin-left:0; margin-bottom:14px; margin-top:0;}
.finalizado .cajaError .textCont{ padding:19px 0 17px 69px; line-height:18px;}
.finalizado .contMedio.usado ul.usado{ margin-top:-10px;}
/*ficha_noDisponible*/
.noDisponible{}
.noDisponible .cajaError{ width:642px; margin-top:5px;}
.noDisponible .cajaError .textCont{ padding:4px 0 8px 66px; line-height:23px;}
.noDisponible .colLeft{ margin-bottom:535px;}

/*------------MEDIDAS DE BANNERS------------------------------*/
.bn300x200{margin-bottom:15px; float:left; margin-top:15px;}
.bn300x250{margin-top:15px;}
.bn620x60{margin-left:14px; float:left; margin-bottom:15px;}
.bn200x100{margin-bottom:10px;}
.bn728x90{}
.bn950x50{text-align:center;}

/*BOTON DINAMICO NARANJA MEDIANO*/
/*boton naranja mediano*/
.btnNarMed{color:#FFF;font-size:14px;font-weight:bold;float:left;cursor:pointer;text-decoration:none;margin:0 auto;padding-top:14px;}
.btnNarMed:hover{ text-decoration:none;}
.btnNarMed .L{ float:left;background: url(../../img/btn_home_botonDinamicoNaranjaMedianopng.png) left top no-repeat;width:3px; height:25px;}
.btnNarMed .M{float:left;background: url(../../img/btn_home_botonDinamicoNaranjaMedianopng.png) left -25px repeat-x;padding:5px 11px 5px;font-size:12px;font-weight:normal;}
.btnNarMed .R{float:left;background: url(../../img/btn_home_botonDinamicoNaranjaMedianopng.png) right top no-repeat;width:3px; height:25px;}

.btnNarMed:hover .L{ background-position: left -50px;}
.btnNarMed:hover .M{ background-position: left -75px; background-repeat:repeat-x;text-decoration:none;}
.btnNarMed:hover .R{background-position: right -50px;}
.btnNarMed{ float:left;background:url(../../img/fd_CambioEmail_boton_sombra.gif) 164px 62px no-repeat;}


/*boton dinamico gris chico css*/
.butGrisChico{border:1px solid #e9e9e4;font-size:12px;line-height:normal; padding:2px 15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; float:left;
background: #f8f8f6;
background: -moz-linear-gradient(top, #f8f8f6 0%, #edede4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f6), color-stop(100%,#edede4));
background: -webkit-linear-gradient(top, #f8f8f6 0%,#edede4 100%);
background: -o-linear-gradient(top, #f8f8f6 0%,#edede4 100%);
background: -ms-linear-gradient(top, #f8f8f6 0%,#edede4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f6', endColorstr='#edede4',GradientType=0 );
background: linear-gradient(top, #f8f8f6 0%,#edede4 100%);}
.butGrisChico:hover{ text-decoration:none;
background: #edede4;
background: -moz-linear-gradient(top, #edede4 0%, #f8f8f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edede4), color-stop(100%,#f8f8f6));
background: -webkit-linear-gradient(top, #edede4 0%,#f8f8f6 100%);
background: -o-linear-gradient(top, #edede4 0%,#f8f8f6 100%);
background: -ms-linear-gradient(top, #edede4 0%,#f8f8f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edede4', endColorstr='#f8f8f6',GradientType=0 );
background: linear-gradient(top, #edede4 0%,#f8f8f6 100%);}
.butGrisChico.inact{background:#f5f5f2;color:#a5a59c;cursor:text;}


/*---------------------HOME---------------------------*/
/*CURVAS SELECTUL*/
.selectDiv .Cv{ background-image:url(../../../Content/images/cv_home_select.gif);width:3px;height:3px;position:absolute;font-size:0; z-index:32;}
.selectDiv .Tl{top:-7px;left:0px;background-position:left top;}
.selectDiv .Tr{top:-7px;right:-2px;background-position:right top;}
.selectDiv .Bl{bottom:1px;left:0px;background-position:left bottom;}
.selectDiv .Br{bottom:1px;right:-2px;background-position:right bottom;}
/**/
.input{float:left;position:relative;padding:0;margin:0;}
.input input{-webkit-border-radius: 3px;}
.input .Cv{background-image:url(../../../Content/images/cv_home_select.gif);width:3px;height:3px;position:absolute;font-size:0;z-index:50;}
.input .Tl{top:-5px;left:0px;background-position:left top;}
.input .Tr{top:-5px;right:5px;background-position:right top;}
.input .Bl{bottom:5px;left:0px;background-position:left bottom;}
.input .Br{bottom:5px;right:5px;background-position:right bottom;}

/*-----------------------Fin home ----------------------*/
