.ContHead{position:relative;}
.ContHead .path{width:auto;}
.ContHead .path .breadcrum{padding:19px 0 24px 14px;}
.breadcrum{width:auto;}
.breadcrum span{padding:0 2px;}
.volverAlResultado{float:left; color:#aaaaaa;padding:19px 0 0 15px;}
.volverAlResultado a{font-family:Arial, Helvetica, sans-serif; font-size:12px;}
/*FACEBOOK INSTANCIAS MODIFICADOR "bigResolution"*/
.facebookConteiner{ float:right;margin-top: 37px;}
.facebookConteiner .iconosFacebook{display:block;}
.facebookConteiner .facebookVertical{display:none;}
.facebookConteiner.bigResolution .iconosFacebook{display:none;}
.facebookConteiner.bigResolution .facebookVertical{display:block;}

/*facebook chico*/
.facebookConteiner .iconosFacebook{width:297px;height:34px;float:right;} /* iconosur */
.facebookConteiner .iconosFacebook div.new {float:left;}
.facebookConteiner .iconosFacebook div.new.count {width:110px;}
.facebookConteiner .iconosFacebook div.new.count2 {width:112px;margin-top:2px;}  /* iconosur */
.facebookConteiner .iconosFacebook div.new.count3 {padding-top:2px;width: 73px;}

.iconosBot .facebook .megusta{width:73px;height:20px;background:url(../../../Content/images/fd_facebook_megusta.png) left top no-repeat;float:left;}
.pipe2{float:left; color:#e7e7de; padding:1px 6px 0 6px; font-size:17px;}
.share{float:left; width:43px; height:20px; background:url(../../../Content/images/sp_general.png) -6px -14px no-repeat;}
.share:hover{background-position:-6px -34px;}
/*facebook vertical*/
.facebookVertical{float:left; width:76px; position:absolute;left:-56px; top:50px; z-index:2;padding-bottom:168px; background:url(../../../Content/images/fd_fichas_facebook_sombra.png) right bottom no-repeat;}
.facebookVertical .Cont{width:66px; float:left;}
.facebookVertical .Cont .bordes{border:1px solid #e7e6e4;width:100%; float:left;}
.facebookVertical .Cont .bordes .separador{background:url(../../../Content/images/fd_fichas_separador.gif) left bottom no-repeat; float:left; width:100%; padding-bottom:1px;}
.facebookVertical .Cont .bordes .separador.last{background:#ffffff;}
:first-child+html .facebookVertical .Cont .bordes .separador.last{ padding-bottom:10px;}
.separador .compartir{ float:left; width:34px; height:33px; margin:10px 16px 10px 16px; background-color:#ffffff; background:url(../../../Content/images/fd_fichas_compartir-grande.gif) left top no-repeat;}

.separador .compartir:hover{background-position: left bottom;}

/*blocke tituloar gris*/
.blockeTitular{float:left;  background-color:#f8f8f6;margin-bottom:19px;border-top:1px solid #ebebeb;}
.blockeTitular .bordeBottom{width:100%; height:1px; background-color:#e7e7de; float:left; margin-top:-1px;}
/*ie7 fix*/
:first-child+html .blockeTitular .bordeBottom{ width:984px;}
.blockeTitular .tituloYPrecioCont{float:left;width:936px;background:url(../../../Content/images/fd_fichas_titular_sombra.gif) left bottom no-repeat;padding:15px 15px 18px 15px;}
.blockeTitular .titular{float:left; width:686px;}
.blockeTitular .titular h1{font-family:Arial, Helvetica, sans-serif;font-size:25px;font-weight:bold;line-height:25px;padding-right:16px;color:#000}
.blockeTitular .precio{float:right; text-align:right; width:227px;}
.blockeTitular .precio h1{float:right;}
.blockeTitular .contMedio{width:602px; float:left; padding:11px 15px 17px; *padding:11px 15px 12px; min-height: 100px;}
.blockeTitular .contMedio .datos{width:670px; float:left;height: 100px;}
.blockeTitular .contMedio .datos ul{width:680px; float:left; /*padding-right:40px;*/}
.blockeTitular .contMedio .datos ul li{width:337px; display:inline-block; float:left;}
.blockeTitular .contMedio .datos ul li {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; line-height:20px;}


.blockeTitular .contMedio .datos ul li p{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#333333;line-height:20px; display:inline; padding-left:4px;}
.estrellasybotonesCont{width:250px; float:right;padding-top: 35px; position: absolute;margin-left: 354px; z-index:1000; *position:static; *width:auto; *padding-top:0px; *margin-top:-55px; }
.estrellasybotonesCont .estrellasCont{float:left; width:228%; padding-top:3px; position:relative;  *width:235%;}
/*Estrellas*/
.estrellasybotonesCont .estrellasCont .estrellas{float:right; border-right: 1px solid #D5D5CA;padding-right: 8px;}
.estrellas div{float:left;width:14px; height:15px; padding:0 0px 0 0px; margin:0 1px 0 1px;}
.estrellas .active{background:url(../../../Content/images/sp_general.png) -6px -54px no-repeat;}
.estrellas .active:hover{background-position:-6px -69px;}
.estrellas .inactive{background:url(../../../Content/images/sp_general.png) -6px -84px no-repeat;}
/**/
.estrellasCont .aFlecha{ float:right; padding:1px 0 1px 8px; }
.estrellas .mitad{background:url(../../../Content/images/estrellitas_mitad.png) left top no-repeat;}
.estrellas .mitad:hover{background-position:left bottom;}


/*boton deinamico gris*/
.btndinamicoCont{float:right; padding-top:17px;}
/*garantiaMecanica*/
.garantiaMecanica{float:right; width:205px; background:url(../../../Content/images/fd_garantia-mecanica.png) left top no-repeat; padding:7px 1px 46px 7px; margin-right:-18px; margin-top:19px;}
.garantiaMecanica span{float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; padding-left:18px;}
/**/
.comparar{ float:right;}
.estrellasybotonesCont.usados .comparar{ padding-top:6px;}
/*INSTANCIAS DE: ESTRELLAS, COMPARAR CON OTRO AUTO, GARANTIA MECANICA*/
.estrellasybotonesCont .garantiaMecanica{display:none;}
.estrellasybotonesCont.usados .garantiaMecanica{display:block;}
.estrellasybotonesCont.usados .estrellasCont{display:none;}
.estrellasybotonesCont.usados .btndinamicoCont{padding-top:0;}
/*anticipo y cuotadesde*/
.anticipoyCuotadesde{}
.anticipoyCuotadesde li p{padding-right:6px;}
/*SOLAPAS*/
.solapasCont{float:left;width:570px; padding-left:14px;height: 35px;}

.solapaDinamica{float:left; margin-right:3px;}
.solapaDinamica:hover{text-decoration:none;}
.solapaDinamica .L{width:5px; height:28px; float:left; background:url(../../../Content/images/sp_general.png) left -99px no-repeat; padding-bottom:7px;}
.solapaDinamica .M{float:left; background:url(../../../Content/images/fd_fichas_solapas_grisesM.gif) left top repeat-x; padding:11px 15px 4px; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.solapaDinamica .R{width:5px; height:28px; float:left;background:url(../../../Content/images/sp_general.png) -5px -99px no-repeat; padding-bottom:7px;}
.solapaDinamica:hover .L{background-position:left -133px;}
.solapaDinamica:hover .M{background-position: left -34px;}
.solapaDinamica:hover .R{background-position: -5px -133px;}
/*estado*/
.solapaDinamica.active{position:relative; z-index:2;}
.solapaDinamica.active .L{background: url(../../../Content/images/sp_general.png) left -167px no-repeat; padding-bottom:7px;}
.solapaDinamica.active .M{background: url(../../../Content/images/fd_fichas_solapas_grisesM.gif) left -68px repeat-x;padding:10px 12px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
.solapaDinamica.active .R{background: url(../../../Content/images/sp_general.png) -5px -167px no-repeat; padding-bottom:7px;}
/*iconos*/
.iconos{float:right; width:320px;margin-top: 0px; position: absolute;margin-left: 645px; margin-top:75px; *margin-left:-320px; *top:300px; *margin-top:0px;}
.iconos .iconosTop{float:right; width:110px; padding-bottom:4px; padding-top:3px; padding-right:12px;}
/**/
.cajaNegra h4{ color:#ffffff; line-height:28px; padding:2px 0 0 12px; float:left; font-weight:normal;}
.tipoVendedor{width:100%;}
.Cont{ background:#ffffff;}
.layout{ background:#E9E9E2;}
.columnaRight{ width:290px; float:right; margin-right:10px; padding-top:5px;}
.cajaNegra{ float:left; width:100%;}
/*cabecera*/
.cabecera{width:100%;float:left;background:url(../../../Content/images/fd_fichas_cabecera_concesionaria.png) left top no-repeat;padding-bottom:14px;}
.fotoyVendedor{float:left;width:97%;padding:15px 0 0 15px;}
.fotoyVendedor .foto{ float:left; width:85px; height:65px; border:1px solid #9eb269; margin-right:8px;}
.fotoyVendedor .vendedor{ float:left;/*padding-top: 11px;*/padding-top: 3px; width: 117px;overflow: hidden;height: 62px;}
.fotoyVendedor .vendedor p{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000000; font-weight:bold; line-height:20px; padding-top:2px;}
/*cuerpo*/
.cuerpo{width:276px; float:left; background:#FFFFFF; border-bottom:1px solid #e9e9e2; padding:17px 0 26px 14px;}
.cuerpo ul{ float:left; width:100%;}
.cuerpo ul li{}
.cuerpo ul li { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; line-height:18px;}
.cuerpo ul li { font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; line-height:20px;}
.cuerpo ul li span {font-family: Arial,Helvetica,sans-serif;}
.cuerpo ul li .contacto{ font-weight:normal;}
.cuerpo .email{ padding-top:13px;}
/*boton dinamico naranja*/
.btnNar .M{ font-weight:bold;color: white;}
.botCont{ padding-left:50px;}
.tipoVendedor .links{ float:left; width:277px; padding-left:13px; background:#f6f7f3; padding-top:8px; padding-bottom:6px;}
.tipoVendedor .links a{ width:266px; float:left;line-height: 15px;}
/*links*/
.links a{padding:5px 0 5px 25px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.links .irMicrositio{ background:url(../../../Content/images/fd_fichas_casita.gif) left 3px no-repeat;}
.links .ubicacionMapa{ background:url(../../../Content/images/fd_fichas_ubicacionMapa.gif) left center no-repeat;}
.links .otrosAvisosVend{ background:url(../../../Content/images/fd_fichas_otrosAvisosVend.gif) left center no-repeat;}
/*solapa particular*/
.solapasParti{ float:left;}
.solapasParti .solapaYBoton{ float:left; width:290px; border-bottom:1px solid #E9E9E2; background:#f2f2e9 url(../../../Content/images/fd_fichas_solapa-parti-fondo.gif) left top no-repeat; padding-top:17px;}
.solapaContactarse{background:url(../../../Content/images/fd_fichas_solapa_contactarse.gif) left top no-repeat; float:left; margin:5px 9px 0px 11px;}
.solapaContactarse span{ float:left;font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; padding:8px 10px 13px; background:url(../../../Content/images/fd_fichas_solapa_contactarse.gif) left top no-repeat; position:relative;}
.solapasParti form{ border-top:1px solid #c6c6c2; float:left; width:100%; margin-top:-2px;}
/*TIPO DE VENDEDOR INSTANCIAS*/
.tipoVendedor .cabecera{display:block;}
.tipoVendedor .cuerpo{display:block;}
.tipoVendedor .solapasParti{display:none;}
.tipoVendedor.particular .cabecera{display:none;}
.tipoVendedor.particular .cuerpo{display:none;} 
.tipoVendedor.particular .solapasParti{display:block;}
.tipoVendedor.particular h4{ padding-bottom:5px;}
/*form*/
.solapasParti form{ float:left; padding-left:13px; background-color:#FFFFFF; width:277px; padding-right:10px; padding:5px 0px 17px 13px; border-bottom:1px solid #e9e9e2;}
.solapasParti form span{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#888888; padding-right:4px; padding-bottom:11px;}
.solapasParti form input{ width:245px; float:left; margin-bottom:6px; border:1px solid #d4d4cd; height:14px; padding:5px 0 5px 12px; font-size:14px;}
.solapasParti form .requerido{ color:#dc2929;}
.solapasParti form .requerido.mod{ padding-left:3px;}
.solapasParti form textarea{ float:left; padding-left:13px; width:244px; border:1px solid #d4d4cd; padding-top:9px; height:76px; font-size:14px;}
.solapasParti form .inp1{ width:55px; margin-right:10px;}
.solapasParti form .inp2{ width:166px;}

/**/
.captchaCont{ width:267px; float:left;}
.captcha{width:257px; float:left; padding:3px 0 3px 0; border:1px solid #d4d4cd; text-align:center; margin-top:6px;}
.captcha img{margin: 0 auto;}
.ingresaCodigo{float:left; width:260px; margin-top:6px;}
form .ingresaCodigo input{float:left;width:218px; margin-bottom:1px;}
form .ingresaCodigo a.ingresa{float:left; width:20px; height:20px; margin-left:7px; background:url(../../../Content/images/sp_general.png) -79px -14px no-repeat; margin-top:3px;}
form .ingresaCodigo span.ingresa{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#888888;}
form .botCont{ padding-left:86px;}
form .botCont a {text-decoration:none;}
form .botCont .btnNar span{ padding:0;}
form .botCont .btnNar .M{ padding:7px 21px; color:#ffffff; text-decoration:none}

.solapasParti form input.error{ background:#f9dfdf; border:1px solid #ea9090;}
.solapasParti form p.error{ color:#dc2929; float:left; padding-bottom:10px; font-size:12px;}
/*instancias de error*/
.solapasParti form .instancias{ float:left; width:259px;}
:first-child+html .solapasParti form .instancias{ padding-bottom:5px;}
.solapasParti form .instancias .nombre{ display:block;}
.solapasParti form .instancias .error{ display:none;}
.solapasParti form .instancias.error .nombre{ display:none;}
.solapasParti form .instancias.error .error{ display:block;}
/**/

.contactarOk{ width:267px; float:left; background:#ffffff url(../../../Content/images/fd_fichas_caja-particular_degrade-top.gif) left top repeat-x; padding-left:13px; padding-right:10px; padding-top:19px; border-bottom:1px solid #e9e9e2;}
.contactarOk p{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:0 0 14px 0; line-height:18px; width:256px; padding-left:0px;}
.contactarOk .recuadro{ width:272px; float:left; border:2px solid #; background:#fff url(../../../Content/images/fd_fichas_recuadro.gif) left top no-repeat; padding-top:18px; margin-top:10px; margin-left:-4px;}
.contactarOk .recuadro p{ padding-left:17px; padding-bottom:28px;}
.contactarOk .recuadro a{ padding-left:18px; font-family:Arial, Helvetica, sans-serif; font-size:16px; padding-bottom:31px; float:left;}
.contactarOk .recuadro .telefonos{ font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#000000; padding-bottom:2px;}
.contactarOk .recuadro .telefonos .pipe{ font-weight:normal;}
.btnDinamicoGris .M .autito{ float:left; width:21px; height:13px; background:url(../../../Content/images/btn_autoMasAutoMenos.png) left top no-repeat; position:relative; left:-5px; top:2px;}


/*instancias de particular OK*/
.tipoVendedor.particular .solapasParti{display:block;}
.tipoVendedor.particular .contactarOk{display:none;}
.tipoVendedor.particular.ok .solapasParti{display:none;}
.tipoVendedor.particular.ok .contactarOk{display:block;}

.tipoVendedor .contactarOk{display:none;}
.tipoVendedor.particular.ok .contactarOk{display:block;}
/**/
.bn728x90{margin-bottom:15px;text-align:center;}
.bn728x90 p{padding-top:29px;}
/**/
.btndinamicoCont.quitar .M .autito{background:url(../../../Content/images/btn_autoMasAutoMenos.png) right top no-repeat;}
/*estado de comparador*/
.comparar .btndinamicoCont{display:block;}
.comparar .btndinamicoCont.quitar{display:none;}
.comparar.quitarComparador .btndinamicoCont{display:none;}
.comparar.quitarComparador .btndinamicoCont.quitar{display:block;}
/*solapa scroll*/
.solapaScroll{position:fixed;bottom:-1px;right:240px;z-index:10;}
.solapaScroll .irAlComparador{float:left; background:url(../../../Content/images/sp_general.png) -11px -126px no-repeat; padding:11px 20px 8px 62px;}
.solapaScroll .irAlComparador:hover{background-position:-12px -162px;}
.solapaScroll .irAlComparador span{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;}
/*favoritos active*/
.iconos .iconosTop a.active{ background:url(../../../Content/images/sp_general.png) -165px -97px no-repeat; margin-left:-3px; margin-right:-1px; position:relative;}
.iconos .iconosTop a.active .favoritos{ background: url(../../../Content/images/sp_general.png) -126px -93px no-repeat;}
/*banner*/
.bn300x100{ margin-top:15px; float:left;}
/**/
.columnaRight .cajaNegra.mod{ margin-top:15px;}
.cajaNegra.mod .buscar{background:#FFF url(../../../Content/images/fd_fichas_sombra-buscar.png) left 1px no-repeat;float:left;width:275px;padding:18px 0 11px 15px;}
.cajaNegra.mod .buscar form{float:left;}
.cajaNegra.mod .buscar form input{ margin-right:5px; margin-left:2px; float:left;}
:first-child+html .cajaNegra.mod .buscar form input{ margin-right:2px;}

.checks label{float:left; padding-right:22px; padding-top:2px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.checks input {float:left;}
:first-child+html .checks label{ padding-right:18px;}
.checks label.last{ padding-right:0;}
.datosBuscar{ width:264px; float:left; padding-left:2px; padding-top:22px;display:inline}
.datosBuscar div{display:inline-block}
.datosBuscar .marginL{.margin-bottom:11px;}
.datosBuscar label{ float:left; width:50px; padding:0 6px 0 5px; text-align:right; margin-bottom:11px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#888888;}
.datosBuscar select{ float:left; width:191px; margin-right:10px; .margin-right:10px; margin-bottom:11px;border:1px solid #e9e9e2;}
.datosBuscar span{float:left;padding-left:6px;padding-right:3px;font-family:Arial, Helvetica, sans-serif;margin-top:2px;}
.datosBuscar input{ float:left; width:48px; border:1px solid #e9e9e2;}
.columnaRight .cajaNegra.mod h4{ padding:3px 0 4px 12px;}
.bn300x200{ margin-bottom:15px; float:left; margin-top:15px;}
.bn300x250{ margin-top:15px;}
.bn620x60{ margin-left:14px; float:left; margin-bottom:15px;}

/*ESTADOS DEL CONTENIDO DE LAS SOLAPAS DESPLEGADAS*/
.fotosCont{ }
.videosCont{  height:320px;}
.EspecificacionesCont{ width:644px;}
.Cont360{}
.reviewCont{}
/**/
.comun{ float:left; width:644px;}
.comun .cajaGris h4.avisos{ width:195px; padding:0 0 0 11px; font-size:18px; line-height:25px; font-family:Arial, Helvetica, sans-serif;}
.comun .cajaGris .titular.gris{ background:#e9e9e2; padding-bottom:0px;}
.cajaGris .titular.gris .otrosavi{height:39px;width:261px; padding:0 0 0 11px; font-size:18px!important; line-height:39px; font-family:Arial, Helvetica, sans-serif;}
.comun .cajaGris{ margin-bottom:15px;}
.comun .cajaGris.equi{ margin-bottom:6px;}
.comun .inner{}
.comun p{ color:#333333; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; float:left;padding:0 0 6px 15px; width:96%;}
.comun .caraEspe{padding-bottom:30px;padding-top:10px;}
.comun .caraEspe span{font-family:Arial, Helvetica, sans-serif;font-weight:bold;}

/**/
.comun .flechadepublicacion{ float:left; width:350px; padding:19px 0 15px 0;}
.comun .flechadepublicacion label{ float:left;}
.comun .flechadepublicacion strong{ float:left; padding-left:5px;}
.comun .flechadepublicacion span{ float:left; padding:0 10px 0 10px;}
/**/
.croquis{ float:left; border:2px solid #e9e9e2; margin-bottom:18px;}
.bannersCont{ border-top:2px solid #e9e9e2; float:left; width:100%; padding-bottom:15px;}
.bannersCont .bn300x100{ margin:15px 10px 0px 12px;}
/**/
.contCajasG{ padding-bottom:23px; float:left;.width:664px}
.contCajasG .cajaGris{ float:left; width:303px; margin-bottom:0;}

.main ul.destacados{ padding-left:2px;}
.main ul.destacados li{width:300px;padding:15px 0 16px;background: url(../../../Content/images/fd_border_dotted.gif) left bottom repeat-x;width:281px;}
.main ul.destacados li.last{border:none;background:none;padding-bottom:16px;}
.main ul.destacados .avisosImg{ width:96px; height:72px; float:left;}
.main ul.destacados .avisosCont{ float:left; width:145px; padding-left:18px;margin-top: 0px;}
.main ul.destacados .avisosCont a{ width: 145px;font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;float: left;color:#238CEE;line-height: 16px;}
.avisosCont .datos{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; padding-bottom:4px;width: 100%;}
.avisosCont .datos_home{color: #333333; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 12px; padding-bottom: 4px;}
.avisosCont .datosf{ width: 145px;color: #666666;line-height: 10px; margin-top: 3px;float: left;font-family: Arial,Helvetica,sans-serif;font-size: 11px;}
.avisosCont .precio{ width: 145px;float:left; color:#f48921;font-family: Arial,Helvetica,sans-serif;font-size: 16px;font-weight: bold; margin-left: 0; text-align:left;}
.avisosCont .precio_home{color: #333333; float: left;}
.cajaGris.last{ margin-left:18px;}
.cajaGris h4.avisos{font-weight:normal;}
.cajaGris .titular.gris {padding-bottom:0;}
/**/
.verTodosCont{ float:left; width:303px; border-top:1px solid #e9e9e2; padding:4px 0 8px 0;}
.cajaGris .verTodos{float:right; width:73px; background:url(../../../Content/images/btl_flecha.png) right 7px no-repeat; padding-top:6px; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-right:6px;}
.cajaGris .verTodos_home{background:url(../../../Content/images/btn_home_flechaBlack.png) right 7px no-repeat;width:auto;_width:auto;float:right;padding-bottom:2px; padding-right:18px;margin-right: 15px;padding-top: 6px;}
/**/
/*caja blanca*/
.slidesCont{ float:left; width:644px; position:relative; padding:6px 0 10px 0;}
.slidesCont .imageCont{ float:left; position:relative;}
.slidesCont .imgageCont .btnL .btnSlideL{float:left; background: url(../../../Content/images/fd_slides_chicos.png) left top no-repeat;  width:23px; height:44px; position:absolute; left:-6px; top:170px;}
.slidesCont .imgageCont .btnL.active /*fran movio de lugar el active*/.btnSlideL:hover{ background:url(../../../Content/images/fd_slide_actives.png) left top; width:31px; height:60px; top:241px; left:-4px;}
.slidesCont .imgageCont .btnR.active /*fran movio de lugar el active*/ .btnSlideR:hover{ background:url(../../../Content/images/fd_slide_actives.png) 31px top; width:31px; height:60px; top:241px; left:483px;}

.slidesCont .imgageCont .btnL .btnSlideL.active{background: url(../../../Content/images/fd_slides_chicos.png) -46px top no-repeat;}
.slidesCont .imgageCont .btnR .btnSlideR{float:right; background: url(../../../Content/images/fd_slides_chicos.png) -23px top no-repeat;  width:23px; height:44px; position:absolute; left:491px; top:170px;}
.slidesCont .imgageCont .btnR .btnSlideR.active{background: url(../../../Content/images/fd_slides_chicos.png) -69px top no-repeat;}
.slidesCont .enumerar{ min-width:70px;/*width:43px;*/ height:19px; display:block; background:#ffffff; position:absolute; left:218px; top:374px; padding-top:3px; padding-left:5px;}
.slidesCont .enumerar span{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#f48824; padding-right:2px;width: 21px;text-align: right;}
.slidesCont .enumerar p{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;  font-weight:bold;width:46px;position: relative;top: -3px; }
.imgageCont .slideImg{ float:left; width:95px; padding-top:10px;margin-left:28px; padding:0; height:390px;position:relative;overflow:hidden; }
.slideImg li{ float:left; width:93px; height:68px; margin-right:15px; margin-bottom:10px;}

.slideImg li .borde{ display:none;float:left; border:2px solid #f48824;width:89px; height:66px; position:relative; top:-70px; left:0;}
.slideImg /*fran modifico: div por li*/li/*fran*/:hover .borde{ display:block;}
.slideImg li.active:hover .borde{}
.slideImg li.active .borde{ display:block;  border:4px solid #f48824;width:85px; height:62px;}
.slideImg li.last{ margin:0;}

.Desplegado .slidesCont .imgageCont .btnL .btnSlideL{ background: url(../../../Content/images/btn_slides_grandes.png) left bottom no-repeat; width:36px; height:70px;}
.Desplegado .slidesCont .imgageCont .btnR .btnSlideR{background: url(../../../Content/images/btn_slides_grandes.png) right bottom no-repeat; width:36px; height:70px;}
.imgageCont img{ float:left;}
.Desplegado .slidesCont .imgageCont .btnL.active .btnSlideL{ background-position: left top;}
.Desplegado .slidesCont .imgageCont .btnR.active .btnSlideR{ background-position: right top;}
.Desplegado .slidesCont .imgageCont .btnL.active .btnSlideL:hover{ background:url(../../../Content/images/btn_slides_grandes_hover.png) left top no-repeat;height:86px; width:41px; top:161px;}
.Desplegado .slidesCont .imgageCont .btnR.active .btnSlideR:hover{ background:url(../../../Content/images/btn_slides_grandes_hover.png) right top no-repeat; height:86px; width:41px; top:161px;}

/*MODIFICADORES DE SOLAPAS*/
.solFotos{}
.solVideos{}
.solEspecif{}
.sol360{}
.solReview{}
/*SOLAPA VIDEO*/
.videosCont .video{ float:left; width:512px; height:312px; margin:0 0 28px 67px;position: absolute; z-index:100}
/*SOLAPA ESPECIFICACIONES*/
.innerSolapas{ float:left; width:100%; padding-left:14px;background:url(../../../Content/images/fd_fichas_sombra-solapas-inner-especificaciones.gif) left bottom no-repeat; padding-bottom:10px;}
/**/
.innerSolapas ul{}
.innerSolapas ul li{ float:left;}
.innerSolapas ul li a{ float:left; padding:4px 12px 0 12px;}
/*solapa inner dinamica*/
.innerSolapas ul li p.btnNarChico{ }
.innerSolapas .btnNarChico{font-size:14px;font-weight:bold;float:left; cursor: text;text-decoration:none; margin:0 auto; padding-top:0px;}
.innerSolapas .btnNarChico:hover{ text-decoration:none;}
.innerSolapas .btnNarChico span{float:left;display:block;height:28px;text-decoration:none;}
.innerSolapas .btnNarChico .L{background: url(../../../Content/images/fd_fichas_solapas-dinamicas-inner_LR.png) left top no-repeat;width:5px; height:25px;}
.innerSolapas .btnNarChico .R{background:url(../../../Content/images/fd_fichas_solapas-dinamicas-inner_LR.png) right top ;width:5px; height:25px;}
.innerSolapas .btnNarChico .M{background: url(../../../Content/images/fd_fichas_solapas-dinamicas-inner_M.gif) left top repeat-x;padding:4px 12px 7px;height:15px; height:14px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#000000;}
/*.innerSolapas .btnNarChico:hover .L{background:url(../../../Content/images/sp_general.png) left -20px no-repeat;}
.innerSolapas .btnNarChico:hover .R{background:url(../../../Content/images/sp_general.png) -3px -20px no-repeat;}
.innerSolapas .btnNarChico:hover .M{background: url(../../../Content/images/sp_generalR.gif) left -20px repeat-x;text-decoration:none;}*/
.innerSolapas .btnNarChico{ float:left;background:url(../../../Content/images/fd_CambioEmail_boton_sombra.gif) 164px 62px no-repeat;}
.innerSolapas .pipe{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#d3d3c5; padding-top:3px;}
/**/
.innerSolapas li a{ display:block;}
.innerSolapas li p{ display:none;}
.innerSolapas li.active a{ display:none;}
.innerSolapas li.active p{ display:block;}

.innerSolapas .first.active{ margin-right:-2px; z-index:2; position:relative;}
.innerSolapas .center.active .pipe{ display:none;}
.innerSolapas .last.active{ margin-left:-2px; z-index:2; position:relative;}
/**/
.comun .CONFORT{ width:100%; float:left; background:url(../../../Content/images/fd_fichas_borde_degrade_confort.gif) left bottom no-repeat; padding-bottom:14px;}
.comun .CONFORT	.titul{ padding-top:13px;}
.comun .CONFORT	.titul a{ float:left;background:url(../../../Content/images/fd_fichas_equipamiento_flechita.gif) left top no-repeat; width:17px; height:16px; padding-right:7px;margin-top: 4px;}
.comun .CONFORT	.titul a:hover{ background-position:left -16px;margin-top: 4px;}
.comun .CONFORT.open .titul a{ background-position:left bottom;margin-top: 4px;}
.comun .CONFORT	.titul h4{ font-weight:normal;}
.comun .CONFORT .listado{ float:left; width:630px;}
.comun .CONFORT .listado ul{ float:left; width:677px; padding-top:20px;}
.comun .CONFORT .listado ul li{float:left;width:320px;background:url(../../../Content/images/blt_naranja.gif) left 6px no-repeat;}
.comun .CONFORT .listado ul li p{ float:left; padding-left:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3333333; width:275px;}
.comun .CONFORT.last{ background:none;}
/*ESTADOS DESPLEGADO O NO*/
.comun .CONFORT .listado{ display:none;}
.comun .CONFORT.open .listado{ display:block;}
/*equipamiento open*/
.equipamientoOpen{ float:left; width:100%;}
.equipamientoOpen .listado{ float:left; width:630px; padding-left:15px; background:url(../../../Content/images/fd_fichas_sombra-bottom_equipamiento.gif) left bottom no-repeat; padding-bottom:30px;}
.equipamientoOpen .listado ul{ float:left; width:630px; padding-top:20px;}
.equipamientoOpen .listado ul li{ float:left; width:300px; background:url(../../../Content/images/blt_naranja.gif) left 4px no-repeat;}
.equipamientoOpen .listado ul li p{ float:left; padding-left:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3333333; width:275px; color:#333333; line-height:20px;}
.equipamientoOpen .listado h4{ font-weight:normal; padding-top:26px;}
/*ESTADOOOOS*/
.EspecificacionesCont .equipamientoOpen{ display:none;}
.EspecificacionesCont .fichatecnicaOpen{ display:none;}
.EspecificacionesCont .coloresOpen{ display:none;}

.EspecificacionesCont.equip .equipamientoOpen{ display:block;}
.EspecificacionesCont.equip .fichatecnicaOpen{ display:none;}
.EspecificacionesCont.equip .coloresOpen{ display:none;}

.EspecificacionesCont.ficha .equipamientoOpen{ display:none;}
.EspecificacionesCont.ficha .fichatecnicaOpen{ display:block;}
.EspecificacionesCont.ficha .coloresOpen{ display:none;}

.EspecificacionesCont.colores .equipamientoOpen{ display:none;}
.EspecificacionesCont.colores .fichatecnicaOpen{ display:none;}
.EspecificacionesCont.colores .coloresOpen{ display:block;}



/* fichatecnica Open */
.fichatecnicaOpen{ float:left; width:644px;padding-bottom:30px;}
.fichatecnicaOpen .tecnica{ float:left; width:100%; }
.fichatecnicaOpen .tecnica h4{ float:left; width:100%; padding:30px 0 18px 17px; font-weight:normal;}
.fichatecnicaOpen .tecnica ul{ float:left; width:100%; margin-left:3px;}
.fichatecnicaOpen .tecnica ul li{ width:100%; display:inline-block;}
.fichatecnicaOpen .tecnica ul li.gris{ background:#f8f8f5;}
.fichatecnicaOpen .tecnica ul li span{ float:left; padding:5px 0 5px 16px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.fichatecnicaOpen .tecnica ul li p{ float:right;padding:5px 20px 5px 16px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
/*colores open*/
.coloresOpen{ float:left; width:644px;}
.coloresOpen ul{ float:left; width:107%; padding-top:20px;}
.coloresOpen ul li{ width:172px; float:left; padding:8px 0;}
.coloresOpen ul li img{ float:left;}
.coloresOpen ul li span{ float:left; padding:2px 0 0 6px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.coloresOpen .paleta{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#888888; padding-top:16px; padding-bottom:37px;}

/*SOLAPA 360*/
.inner360{ float:left; width:644px; margin:6px 0 8px 1px;}
/* SOLAPA REVIEW*/
.reviewInner{ float:left; width:644px;}
.reviewInner .titulCont{ float:left; width:100%; padding-bottom:21px; padding-top:4px;}
.reviewInner .titulCont h3{ float:left; font-weight:normal;}
.reviewInner .titulCont .fecha{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding-top:5px;}
.reviewInner .titulCont .fecha span{ float:left; color:#000000; padding-right:3px;}
.reviewInner .titulCont .fecha p{ float:left; color:#000000;}

.reviewInner .left{float:left; width:162px;}
.reviewInner .left  .cajaGris .main.grande{ background:none;}
.reviewInner .left .cajaGris{}
.reviewInner .left .cajaGris .estrellotasCont{width:143px; padding:10px 0 13px 9px; border-bottom:1px solid #e9e9e2;}
.reviewInner .left .cajaGris .estrellotasCont span{ float:left; width:18px; height:19px; background:url(../../../Content/images/fd_fichas_review_estrellas.png) no-repeat; padding-right:3px;background-position: 0 -38px;}
.reviewInner .left .cajaGris .estrellotasCont span.mitad{background-position: 0 -57px;}
.reviewInner .left .cajaGris .estrellotasCont span.mitad:hover{background-position: 0 -76px;}
.reviewInner .left .cajaGris .estrellotasCont span.active{ background-position: left top;}
.reviewInner .left .cajaGris .estrellotasCont span.active:hover{ background-position: left -19px;}
.reviewInner .left .cajaGris .puntaje{width:144px; padding:13px 0 10px 9px;}
.reviewInner .left .cajaGris .puntaje h5{ float:left; width:100%; padding-bottom:4px;}
.reviewInner .left .cajaGris .puntaje .porcentaje{ float:left;}
.inside{ float:left;}
.inside label{ float:left; width:100%; padding-bottom:6px;  padding-top:3px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;}
.inside .barra{ float:left; width:114px; height:12px; background:url(../../../Content/images/fd_fichas_porcentaje_vacio.gif) left top no-repeat; margin-bottom:2px; }
.inside .barra .relleno{ float:left; width:50%; height:12px; background:url(../../../Content/images/fd_fichas_porcentaje_lleno.gif) left top repeat-x;}
/*rellenos*/
.inside .barra .relleno.cero{ width:0%;}
.inside .barra .relleno.uno{ width:20%;}
.inside .barra .relleno.dos{width:40%;}
.inside .barra .relleno.tres{width:60%;}
.inside .barra .relleno.cuatro{width:80%;}
.inside .barra .relleno.cinco{width:100%;}

.reviewInner .right{float:left; width:475px;}
.reviewInner .right .blok1{ float:right; width:457px; border-bottom:1px solid #e9e9e2; padding-bottom:7px;}
.reviewInner .right .blok1 p{ float:left; padding-bottom:18px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; width:102%;}

.reviewInner .right .blok2{float:right; width:463px; padding-top:21px; padding-bottom:29px;}
.reviewInner .right .blok2 .positivo{width:235px; float:left; padding-left:3px;}
.reviewInner .right .blok2 .positivo h5{float:left; width:100%; color:#000000; background:url(../../../Content/images/blt_fichas_positivo.gif) left center no-repeat; margin-left:3px; padding-left:21px; }
.reviewInner .right .blok2 .positivo ul{ float:left; width:100%; padding-top:12px;}
.reviewInner .right .blok2 .positivo ul li{ display:block; padding-left:4px;}
.reviewInner .right .blok2 .positivo li span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding-left:11px; background:url(../../../Content/images/blt_fichas_verdes.gif) left center no-repeat; line-height:20px;}
/**/
.reviewInner .right .blok2 .negativo{float:left; width:224px;}
.reviewInner .right .blok2 .negativo h5{float:left; width:100%; color:#000000; background:url(../../../Content/images/blt_fichas_negativo.gif) left center no-repeat; margin-left:3px; padding-left:21px; }
.reviewInner .right .blok2 .negativo ul{ float:left; width:100%; padding-top:12px;}
.reviewInner .right .blok2 .negativo ul li{ display:block; padding-left:4px;}
.reviewInner .right .blok2 .negativo li span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding-left:11px; background:url(../../../Content/images/blt_fichas_rojos.gif) left center no-repeat; line-height:20px;}
.reviewInner .right .blok2 .negativo{float:left; width:220px; padding-left:5px;}
/*SOLAPITA CON NUMEROS DEL SLIDE*/
.enumerarCont{}
.enumerar .L{ float:left; width:3px; height:22px; background:url(../../../Content/images/fd_fichas_solapitaBlanca_slideLR.png) left top no-repeat; margin-left:-8px; margin-top:-3px;}
.enumerar .R{ float:left; width:3px; height:22px; background:url(../../../Content/images/fd_fichas_solapitaBlanca_slideLR.png) right top no-repeat; margin-right:-8px; margin-top:-3px;}
/**/
.inner.masinfo{ padding-bottom:26px;}

.slideImg div{ cursor:pointer;}

/*ESTADOS DE DESPLEGADOS CONTENEDOR*/
.desplegadosContenedor{}
.desplegadosContenedor .fotosCont{ display:none;}
.desplegadosContenedor .videosCont{display:none;}
.desplegadosContenedor .EspecificacionesCont{display:none;}
.desplegadosContenedor .Cont360{display:none;}
.desplegadosContenedor .reviewCont{display:none;}

.desplegadosContenedor.fotos .fotosCont{ display:block;}
.desplegadosContenedor.videos .videosCont{display:block;}
.desplegadosContenedor.especific .EspecificacionesCont{display:block;}
.desplegadosContenedor.trecientos60 .Cont360{display:block;}
.desplegadosContenedor.review .reviewCont{display:block;}
/*instancia del ling "ir al micrositio"*/
/*.tipoVendedor .irMicrositio{ display:none;}*/
.tipoVendedor.particular .irMicrositio{display:block;}
/*ESTADOS DE LOS UL POR FICHA*/
.contMedio ul.nuevo{ display:none;}
.contMedio ul.usado{display:none;}
.contMedio ul.planAhorro{display:none;}

.contMedio.nuevo ul.nuevo{display:block;}
.contMedio.usado ul.usado{display:block;}
.contMedio.planAhorro ul.planAhorro{display:block;}
/**/
.colMargen .colLeft span.titulo1{font-size:25px;font-weight:bold;color:#333333;line-height:25px;float:right;font-family:Arial,Helvetica,sans-serif;}

/*POP UPS*/
/*FICHAS ENVIAR MAIL*/
.contMatterPopups .PopUpCont .cerrar{float:right;margin-right:20px;}
.enviarMail .PopUpCont form p.enviale{width:583px;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:8px 0 25px;line-height:18px;text-align: left;}
.enviarMail .PopUpCont .fila1 textarea{padding:8px 0 0 10px;width:311px;height:85px;float: left;}
.codigoImg{text-align:center;padding:4px 0 4px 0;}
.enviarMail .PopUpCont .fila1 input[type="checkbox"]{float:left;margin:0;width:auto;margin-right:8px;padding:0;}
.enviarMail .PopUpCont .fila1.checkbox{padding:19px 0 6px 0;}
.enviarMail .PopUpCont .botonesCont{padding:25px 0 26px 242px;}
.enviarMail .PopUpCont .fila1 .errorCont span{width:222px;padding-bottom:3px;}
/*FICHAS ENBIAR MAIL OK*/
/*Instancias*/
.enviarMail.ok .contForm{display:none;}
.enviarMail.ok .contForm.okey{display:block;}
.enviarMail .contForm.okey{display:none;}
.enviarMail .contForm{display:block;}
/**/
.enviarMail.ok .cajaOk{margin:21px 0 20px 44px;}
.enviarMail.ok .textCont{padding:13px 0 26px 65px;}
/*CONTACTO MAPA*/
.enviarMail .contactoMapa{}
.contactoMapa{}


/* -------------------------------------------------- */

/*POP UPS*/
/*FICHAS ENVIAR MAIL*/
.contMatterPopups .PopUpCont .cerrar{float:right;margin-right:20px;}
.denunciar .PopUpCont form p.enviale{width:583px;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:8px 0 25px;line-height:18px;text-align: left;}
.denunciar .PopUpCont .fila1 textarea{padding:8px 0 0 10px;width:311px;height:85px;float: left;}
.codigoImg{text-align:center;padding:4px 0 4px 0;}
.denunciar .PopUpCont .fila1 input[type="checkbox"]{float:left;margin:0;width:auto;margin-right:8px;padding:0;}
.denunciar .PopUpCont .fila1.checkbox{padding:19px 0 6px 0;}
.denunciar .PopUpCont .botonesCont{padding:25px 0 26px 242px;}
.denunciar .PopUpCont .fila1 .errorCont span{width:222px;padding-bottom:3px;}
/*FICHAS ENBIAR MAIL OK*/
/*Instancias*/
.denunciar.ok .contForm{display:none;}
.denunciar.ok .contForm.okey{display:block;}
.denunciar .contForm.okey{display:none;}
.denunciar .contForm{display:block;}
/**/
.denunciar.ok .cajaOk{margin:21px 0 20px 44px;}
.denunciar.ok .textCont{padding:13px 0 26px 65px;}

/* -------------------------------------------------- */

/*GRAN ESTADOS GENERALES*/

.contMatterPopups > div{display:none;}
.contMatterPopups.enviarmail .enviarMail{display:block;}
.contMatterPopups.denunciarAv .denunciar{display:block;}
.contMatterPopups.mapa .contactoMapa{display:block;}
.contMatterPopups.conce .contactoConce{display:block;}
.contMatterPopups.contact .contactar{display:block;}
.contMatterPopups.cons .consejos{display:block;}

/**/
.contactoMapa .contHd h3.naranja{font-family:Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;color:#f9891b;width:auto;float:left;padding:16px 0 0 5px;margin-top: 6px;}

/*FICHAS IFRAME CONTACTO*/
.contactar .PopUpCont form p.enviale{width:583px;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:8px 0 25px;line-height:18px;text-align: left;}
.contactar .PopUpCont .fila1 textarea{padding:8px 0 0 10px;width:311px;height:85px;float: left;}
.codigoImg{text-align:center;padding:4px 0 4px 0;}
.contactar .PopUpCont .fila1 input[type="checkbox"]{float:left;margin:0;width:auto;margin-right:8px;padding:0;}
.contactar .PopUpCont .fila1.checkbox{padding:19px 0 6px 0;}
.contactar .PopUpCont .botonesCont{padding:25px 0 26px 242px;}
.contactar .PopUpCont .fila1 .errorCont span{width:222px;padding-bottom:3px;}

/*FICHAS MAPA*/
.mapaCont{float:left;padding:19px 0 0 27px;margin-bottom:14px;}
/*CONTACTAR CONCESIONARIA*/
.contactoConce .enviarMail.ok{}
.contactoConce .enviarMail.ok .textInner{float:left;padding-left:44px;width:588px;padding-bottom:27px;padding-top:8px;}
.contactoConce .enviarMail.ok .textInner span{float:left;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;}
.contactoConce .enviarMail.ok .textInner p{padding:15px 0 15px 0;float:left;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:14px; font-weight:bold;color:#000000;}
.naranjita{color:#e8700a;}
.contMatterPopups .contactoConce .textCont{width:490px;padding:13px 0 8px 65px}
.contMatterPopups .contactoConce .textCont span{line-height:18px;} 

/*FICHA_NO DISPONIBLE*/
.noDispon .cajaError .textCont{padding:10px 0 11px 65px;}
.noDispon .textCont span{width:555px;line-height:17px;}
.noDispon .cajaError{width:642px;margin-left:0;margin-bottom:27px;margin-top:6px; }
.noDispon .avisosSim{float:left;width:700px;}
.noDispon .avisosSim h3{font-family:Arial, Helvetica, sans-serif;font-size:20px;color:#000;margin-bottom:13px;letter-spacing:0.2px;font-weight:normal;}
.noDispon .contCajasG .cajaGris{width:302px;margin-right:20px;margin-bottom:12px;}
.noDispon .cajaGris .main.chico{background:none;}
.noDispon .avisosCont .precio{color:#333333;}
.noDispon .main ul.destacados li{background:none;width:290px;padding:12px 0 11px;}
.noDispon .cajaGris .main.chico{padding-top:0;}
.noDispon .main ul.destacados .avisosImg{padding:2px;border:1px solid #dfdcdc;}
.noDispon .contCajasG{background:url(../../../Content/images/fd_ficha_noDisponible_degrade.png) left bottom no-repeat;padding-bottom:17px;}
.noDispon .linksAv{float:left;padding:12px 0 64px;}
.noDispon .linksAv span{padding:0 10px 0 10px;color:#888888;}
.noDispon .linksAv *{float:left;}

/*CONTACTO CONCESIONARIA*/
.contactoConcecionariaCont{float:left;}
/*ESTADOS DE CONTACTAR CONCESIONARIA*/
.tipoVendedor .contactoConcecionariaCont .cabecera{display:none;}
.tipoVendedor.concesionaria .contactoConcecionariaCont .cabecera{display:block;.width:290px}
.tipoVendedor.concesionaria .contactoConcecionariaCont .solapasParti{display:block;}
.tipoVendedor.concesionaria .contactoConcecionariaCont .links{display:block;}
.tipoVendedor.concesionaria .contactoConcecionariaCont .irMicrositio{display:block;}
.tipoVendedor.concesionaria .cabecera{display:none;}
.tipoVendedor.concesionaria .cuerpo{display:none;}
.tipoVendedor .links{display:block;}
/*.tipoVendedor .contactoConcecionariaCont .links{display:none;}*/
.tipoVendedor.concesionaria .contactoConcecionariaCont .links{display:block;}
.tipoVendedor.concesionaria .links{display:none;}
.tipoVendedor.particular .contactoConcecionariaCont{display:none;}
.tipoVendedor.concesionaria.ok .contactoConcecionariaCont .solapasParti{display:none;}
.tipoVendedor.concesionaria.ok .contactoConcecionariaCont .contactarOk{display:block;}
/*boton verde*/
.contactoConcecionariaCont .solapasParti .btnDinAzul .L{background:url(../../../Content/images/btn_contactoConce_verdeLMR.png)left top no-repeat;}
.contactoConcecionariaCont .solapasParti .btnDinAzul .M{background:url(../../../Content/images/btn_contactoConce_verdeLMR.png)left -56px repeat-x;}
.contactoConcecionariaCont .solapasParti .btnDinAzul .R{background:url(../../../Content/images/btn_contactoConce_verdeLMR.png)right top no-repeat;}
.contactoConcecionariaCont .solapasParti .btnDinAzul:hover .L{background-position:left -28px;}
.contactoConcecionariaCont .solapasParti .btnDinAzul:hover .M{background-position:left bottom;}
.contactoConcecionariaCont .solapasParti .btnDinAzul:hover .R{background-position:right -28px;}
/**/
.contactoConcecionariaCont .solapasParti .solapaYBoton{background:#f8f9f5;padding-top:0;}
.contactoConcecionariaCont .solapasParti{margin-top:-7px;}
.contactoConcecionariaCont .contactarOk{margin-top:-5px;background:#f7f8f5;padding-top:7px;}

/*denunciar aviso*/
.iconos .denunciar{float:right;font-family:Arial, Helvetica, sans-serif;font-size:11px;padding-right:7px;line-height: 15px;}
.iconos .pipeline.first{padding-right:0px;}
.iconos a.favoritos.active{margin-left:8px;}







/*--------------------------------------------------------------------*/
/*Detalles del Plan de Ahorro*/
.comun.detalles > div{display:none;}
.comun.detalles.active div{display:block;}
.comun.detalles .titular h4{width:auto;}
.detalesPlanAhorroCont{margin-bottom:20px;float:left;-moz-border-radius:3px;}
.comun.detalles .cajaGris {margin-bottom:2px;}
.detalesPlanAhorroCont div{padding-left:40px;background-color:#f8f8f5;float:left;width:604px;padding-top:17px;}
.detalesPlanAhorroCont ul{float:left;padding-bottom:24px;}
.detalesPlanAhorroCont ul li{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;line-height:22px;display:inline-block;}
.detalesPlanAhorroCont ul li p{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#333333;display:inline;line-height:20px; width:auto;float:none;padding-left:5px;}
.detalesPlanAhorroCont .first{background:#f8f8f5 url(../../../Content/images/fd_fichas_rangoDeCuotas_sombra.gif) center bottom no-repeat;padding-top:15px;}
.detalesPlanAhorroCont .first ul{width:600px;}
.detalesPlanAhorroCont .first ul li{width:299px;float:left;}
.detalesPlanAhorroCont .last{}
.detalesPlanAhorroCont h3{float:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color:#000000;width:auto;}
.detalesPlanAhorroCont .last ul{width:410px;padding-top:0;}
.detalesPlanAhorroCont .last ul li{width:100%;padding-left:10px;}
.telefonos.secundario{}
telefonos.nextel{}
/*checks recibir newsletters*/
.recibNewsletters{width:100%;float:left;padding-top:2px;}
.ingresaCodigo .recibNewsletters input{margin:0;width:5px;float:left;width:15px;border:none;}
.ingresaCodigo .recibNewsletters span{float:left;font-size:12px;padding-left:5px;font-family:Arial, Helvetica, sans-serif;color:#666666;padding-bottom:0;}
/**/
.contactoConcecionariaCont .recuadro p{padding-bottom:15px;}
.contactoConcecionariaCont .contactarOk .recuadro a{padding-top:8px;padding-bottom:25px;}


/*ATENCION ESTAS CLACES SON SOLO DE VISTA PARA MOSTRAR "ir al comparador" ANTES DE EMPEZAR A PROGRAMAR, BORRAR ESTAS 4 CLACES SIGUIENTES*/
.comparar .btndinamicoCont.quitar{display:block;}
.comparar .btndinamicoCont.quitar > a{display:none;}
.comparar .btndinamicoCont.quitar .solapaScroll{display:block;}
/*ATENCION ESTAS CLACES SON SOLO DE VISTA PARA MOSTRAR "ir al comparador" ANTES DE EMPEZAR A PROGRAMAR, BORRAR ESTAS 4 CLACES ANTERIORES*/


.slideImg li img { width:93px; height:70px;}

.sliderImage{float:left;width:520px;height:390px;position:relative;overflow:hidden;}
.sliderImage ul, .slideImg ul{float:left;position:relative;left:0px; }
#exepcion {width:50000px;}
.sliderImage li, .slideImg li{float:left;position:relative; }
.slideImg li{ cursor:pointer;}
.Desplegado .slidesCont .imgageCont .btnL span{ cursor:pointer;}
.Desplegado .slidesCont .imgageCont .btnR span{ cursor:pointer;}

.banner_300x50{width:300px;height:50px;float:left;background:#cdcdcd;margin:0px 10px 10px 10px;}

/*solapa particular*/
#contactIframe .solapaYBoton .solapasParti{ float:left;}
#contactIframe .solapaYBoton .solapasParti .solapaYBoton{ float:left; width:290px; border-bottom:1px solid #E9E9E2; background:#f2f2e9 url(../../../Content/images/fd_fichas_solapa-parti-fondo.gif) left top no-repeat; padding-top:17px; margin-top:10px;}
#contactIframe .solapaYBoton .solapaContactarse{background:url(../../../Content/fd_fichas_solapa_contactarse.gif) left top no-repeat; float:left; margin:5px 9px 0px 11px;}
#contactIframe .solapaYBoton .solapaContactarse span{ float:left;font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; padding:8px 10px 13px; background:url(../../../Content/images/fd_fichas_solapa_contactarse.gif) left top no-repeat; position:relative;}
#contactIframe .solapaYBoton .solapasParti form{ border-top:1px solid #c6c6c2; float:left; width:100%; margin-top:-2px;}



#contactIframe .solapaYBoton {
background: #F8F9F5;
padding-top: 0;
}
#contactIframe .solapaYBoton {
    background: url("../../../Content/images/fd_fichas_solapa-parti-fondo.gif") no-repeat scroll left top #F2F2E9;
    border-bottom: 1px solid #D4D4CD;
    float: left;
    margin-top: 10px;
    padding-top: 17px;
    width: 290px;
}

#contactIframe .solapaYBoton .solapaContactarse span {
    background: url("../../../Content/images/fd_fichas_solapa_contactarse.gif") no-repeat scroll left top transparent;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px 13px;
    position: relative;
     top: 6px;
}

.sliderImage2{float:left;width:520px;height:390px;position:relative;left: 62px;margin-bottom: 15px;}

.sliderImage2 ul, .slideImg ul{float:left;position:relative;left:0px; }

.sliderImage2 li, .slideImg li{float:left;position:relative; }

/* fichatecnica Open */
.fichatecnicaOpen{ float:left;padding-bottom:30px;}
.fichatecnicaOpen .tecnica{ float:left; width:100%; margin-top:-6px; padding-bottom:6px;}
.fichatecnicaOpen .tecnica h4{ float:left; width:100%; padding:30px 0 17px 17px; font-weight:bold; font-size:16px;}
.fichatecnicaOpen .tecnica ul{ float:left; width:95%; margin-left:3px;}
.fichatecnicaOpen .tecnica ul li{ width:100%; display:inline-block; padding:6px 20px 5px 0px;}
.fichatecnicaOpen .tecnica ul li.gris{ background:#f6f6f6; }
.fichatecnicaOpen .tecnica ul li span{ float:left; padding:5px 0 5px 16px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.fichatecnicaOpen .tecnica ul li p{ float:right;padding:0; width:auto; }


.consejos ul.con {text-align:left;padding:40px;list-style-type: square; margin-top:48px;padding-bottom: 15px; padding-left:60px;}

.consejos ul.con li {list-style-type: square; height:20px; margin-bottom:20px; *height:25px; *margin-bottom:15px;}

#basic-modal7 .consejos {text-align:right; line-height: 15px; font-size:11px;} 

.cajaNegra.mod .buscar .botCont{float:left;padding-left:0;margin-left:82px;}

#basic-modal7 { width:210px;float: left; *position:relative; *top:-2px;}

#basic-modal2{float:left;padding-left: 9px;}

.cajaGris_home .titular.gris{background:#e9e9e2 url(../../../Content/images/fd_home_titularGris.gif) left bottom no-repeat;padding-bottom:8px;}
.cajaGris_home .verTodos{background:url(../../../Content/images/btn_home_flechaBlack.png) right 7px no-repeat;width:auto;_width:auto;float:right;padding-bottom:2px; padding-right:18px;}
.bannersCont_home{float:left;width:200px;background-color:#efefef;margin-top:15px;padding:8px 50px 0;border:0;margin-bottom:15px;.padding-bottom:8px;}
.sliderImage #exepcion li img{float:none;}