/*HOME DEAUTOS*/
.home .Cont{padding:22px 0 0}
.columnaRight{width:300px;margin-right:0; padding-top:0;_margin-top:-18px;}
/*Classes Generales*/
.noMargin{margin:0!important;_margin:0!important}
figure{margin:0; padding:0;}
.boxSlider figure img{display:block; border:1px solid #cececa;}

.textUp{font-size:12px;color:#333;line-height:36px; padding-left:20px;}
/*Box Tabs css*/
.boxTabs{}
.boxTabs ul{float:left;margin:0;.z-index:5;.position:relative;_width:470px;}
.boxTabs ul li{float:left;padding:0 5px 0 0}
.boxTabs .tab{float:left;padding:8px 19px 1px 9px;font-size:14px; color:#fff;cursor:pointer;}
.boxTabs li.active a{ padding:0;}
.boxTabs li.active a .L{float:left; width:5px; height:32px;_height:25px; background: url(../../../Content/images/fd_home_tabs.gif) left top no-repeat;}
.boxTabs li.active a .M{float:left;padding:10px 16px 6px 16px; background-color:#FFF; color:#000;}
.boxTabs li.active a .R{float:left;width:5px; height:32px;_height:25px; background:url(../../../Content/images/fd_home_tabs.gif) right top no-repeat;}

.irAlCompa{display:none;float:right;background:url(../../../Content/images/fd_irAlCompa.png) left top no-repeat;padding:1px 0 6px 35px; _width:100px!important; margin:17px 0 0; font-size:12px;}
/*Contenido del Box Tabs css*/

/*boxPromo*/
.promoCont{margin:0;}
.promoCont .boxPromo{width:312px;margin:0 20px 0 0}
/*Seteo del ancho y margen para esta seccion*/
.boxPromo{background:url(../../../Content/images/fd_home_promoShadow.png) no-repeat center bottom;padding:0 0 18px;float:left}
.boxPromo.etqNuevo .etiqueta{background:url(../../../Content/images/fd_home_cintaNuevo.png) no-repeat}
.boxPromo.imgMovile .producto{background:url(../../../Content/images/fd_home_cajagris_telefono.png) no-repeat;width:67px;height:98px}
.boxPromo.imgCatalogo .producto{background:url(../../../Content/images/fd_home_cajagris_catalogo.png) no-repeat;width:77px;height:93px}
.boxPromo .content{border:5px solid ##E9E9E2;position:relative;padding:0 0 10px 10px; background:url(../../../Content/images/fd_home_boxPromo_degrade.gif) left bottom repeat-x;}
.boxPromo .content h2{font-size:20px;font-weight:bold;padding:13px 0 17px;}
.boxPromo .content p{color:#333;line-height:18px;width:215px}

.boxPromo .content .etiqueta{position:absolute;width:86px;height:65px;top:-5px;right:-5px;z-index:2}
.boxPromo .content .producto{position:absolute;right:10px;top:18px}
/*boxSlider*/
.boxSlider{position:relative; border-top:5px solid #E9E9E2!important;}
.boxSlider.cajaGris .titular.gris{ background:url(../../../Content/images/fd_home_titularGris_2.gif)!important; margin-left:-1px; width:101.3%;width:101.4%\0/;.width:101.3%;}
.boxSlider h3{display:block;padding:2px 0 0 14px;font-size:18px;font-weight:bold}
.boxSlider .maskSlider{width:634px;height:276px;position:relative;overflow:hidden;float:left;}

.boxSlider li{float:left;}
.boxSlider .maskSlider li{width:634px; background:#fff;}
.boxSlider .maskSlider ul{left:0;}
.boxSlider .boxProduct{float:left;width:250px;margin:18px 0 0px 42px;}
.boxSlider .boxProduct figure{margin:0;float:left;margin:0 12px 0 0}
.boxSlider .btnNavAnt{position:absolute;width:35px;height:71px;top:135px;cursor:pointer;left:-5px;z-index:20;}
.boxSlider .btnNavSig{position:absolute;width:35px;height:71px;top:135px;cursor:pointer;right:-5px; _right:-10px;z-index:20;}

.boxSlider .btnNavAnt .anterior{display:block;width:35px;height:71px;background:url(../../../Content/images/btn_slides_grandes.png) 0px -70px no-repeat;}
.boxSlider .anterior.active{background:url(../../../Content/images/btn_slides_grandes.png) 0 0}
.boxSlider .anterior.active:hover{ background:url(../../../Content/images/btn_slides_grandes_hover.png) left top no-repeat; width:42px; height:86px; top:129px;}

.boxSlider .btnNavSig .siguiente{display:block;width:35px;height:71px;background:url(../../../Content/images/btn_slides_grandes.png) -109px 70px;}
.boxSlider .siguiente.active{background:url(../../../Content/images/btn_slides_grandes.png) -37px 0}
.boxSlider .siguiente.active:hover{background:url(../../../Content/images/btn_slides_grandes_hover.png) -43px 0 no-repeat;width:41px; height:86px;float:right;}


.desplegado .planesCont{/*float:left;*/
width:622px;padding-left:5px;padding-top:8px}
.desplegado .planesCont .planes{float:left;width:200px;padding:12px 0}
.desplegado .planesCont .planes img{float:left}
.desplegado .planesCont .planes a{float:left; font-size:12px;font-weight:bold;padding-left:10px;padding-top:7px}
/*Slides*/
.publiEjemplos .contSlides{float:left;width:100%;padding:14px 0 8px 0;background:url(../../../Content/images/fd_contslides_sombra.gif) 80px bottom no-repeat}
/*selects*/
.btnSelect{float:left}
.btnSelect a{display:block}
.btnSelect span{display:none}
.selects .act a{display:none}
.selects .act span{display:block}
.selects{float:left;width:170px;padding:19px 0 6px 290px;_position:relative}
.selects .btnSelect a, .selects .btnSelect span{cursor:pointer;float:left;width:15px;height:14px;background:url(../../../Content/images/fd_home_select.png) 0 0;margin:0 5px 0 0;_margin:0 4px 0 0; _cursor:pointer;}
.selects .btnSelect.active a{background:url(../../../Content/images/fd_home_select.png) left bottom;_cursor:pointer;}
.selects .btnSelect span{background-position:0 -15px;_position:static;_right:auto;_left:auto;_cursor:pointer;}
/*box usados*/
.desplegado{width:622px}
/*ESTADOS DE DESPLAGADO*/
.desplegado.active{display:block}
.planesCont2 .verTodos{float:right;background:url(../../../Content/images/btn_home_flechaBlack.png) 60px 9px no-repeat;padding:9px 17px 5px 0;width:68px; margin-right:82px;_margin-right:43px; font-size:12px; margin-top:8px;}
.planesCont2 .verTodos a{ font-size:12px;}
.promo .cajaGris{float:left;margin-bottom:0;position:relative;_margin-right:0px}
/*cajas promo*/
.promo{width:312px;float:left;margin-right:20px;_margin-right:0px}
.promo.last{margin-right:0px}
.promo .shadow{width:100%;float:left;height:16px;background:url(../../../Content/images/fd_home_promoShadow.png) center bottom no-repeat;margin-top:3px}
.promo .fondo1{float:left;width:292px; background:url(../../../Content/images/fd_home_carro.gif) right bottom no-repeat;  padding-left:10px;padding-bottom:18px;}
.promo .fondo1 .vendeTuAuto{width:230px;padding-bottom:10px;padding-top:13px; font-size:20px;font-weight:normal;color:#000000; float:left; position:relative;}
.promo .fondo1 p{width:215px;line-height:18px; font-size:14px;color:#333}
.promo .cinta{background:url(../../../Content/images/fd_home_cintaNuevo.png) left top no-repeat;width:86px;height:65px;float:left;position:absolute;top:-5px;right:-5px}
/**/
.destac{padding-left:2px}
.destac article{width:255px;padding:11px 0 10px;float:left;margin-left:45px;margin-left:35px}
.destac li.last{border:none;background:none;padding-bottom:7px}
.destac .avisosImg{width:96px;height:72px;float:left}
.destac .avisosCont{float:left;width:145px;padding-left:12px}
.destac .avisosCont a{font-size:12px;font-weight:bold}
/**/
.cajaGris.box2{float:left;margin-top:0;_position:relative;background-color:#efefe9;border-color:#efefe9;margin-bottom:20px; height:374px;}
.tabsNotiRoad{ padding-left:6px;}
.tabsNotiRoad li{ float:left;}
.tabsNotiRoad .noticias{}
.tabsNotiRoad .noticias a{float:left; font-size:14px;padding:9px 14px 7px;}
.tabsNotiRoad .noticias .tab{float:left;}
.tabsNotiRoad .tab .L{float:left;width:12px; height:31px;background:url(../../../Content/images/fd_home_solapaRoad.png) left top no-repeat;z-index:1000}
.tabsNotiRoad .tab .M{float:left;padding:9px 14px 7px;background:url(../../../Content/images/fd_home_solapaRoad.png) left -31px repeat-x;font-size:14px;z-index:1000}
.tabsNotiRoad .tab .R{float:left;width:12px;height:31px; background:url(../../../Content/images/fd_home_solapaRoad.png) right top no-repeat;z-index:1000}
.tabsNotiRoad .tab:hover .L{background-position:left -62px;}
.tabsNotiRoad .tab:hover .M{background-position:left bottom;color:#333;}
.tabsNotiRoad .tab:hover .R{background-position:right -62px;}
.tabsNotiRoad .road{}

.more{float:right;background:url(../../../Content/images/btl_flecha.png) right 8px no-repeat;padding:7px 17px 0 42px; font-size:12px;margin-top:5px}
.box2 .right{float:right;width:189px;border:1px solid #dbdbd3;border-right:0;border-bottom:0;_width:185px;}
.box2 .right ul{ _float:left;}
.box2 .right ul li{padding:14px 0 18px 11px; background:#fff; height:70px;.height:70px;_padding:14px 0 8px 11px;_width:165px; _float:left; .margin-top:-3px;_margin-top:0px;}
.box2 .right ul li p{ float:left; overflow:hidden; max-height:30px; .width:120px; _height:30px;_margin-bottom:8px!important; font-size:12px; margin-top:4px; .width:170px;}
.box2 .right ul li a{font-size:16px;font-weight:bold; float:left; max-height:46px; max-height:38px;line-height:19px;overflow:hidden;}
.box2 .right ul li .cantidad{font-size:12px;color:#333;padding-top:7px; float:left;}
.box2 .right ul li.first{ background:#fff url(../../../Content/images/fd_home_bordesito.gif) left bottom repeat-x;}
.box2 .right li.act{background:url(../../../Content/images/fd_home_liCenter_Shadow.gif) left top no-repeat!important;}
.box2 .right li.center{background:#fff url(../../../Content/images/fd_home_bordesito.gif) left bottom repeat-x;}
.box2 .right li.last{_padding:14px 14px 19px 0px; _margin-left:0px; _padding-left:5px;_width:156px;_padding-right:0;_padding-left:10px;}
.left{float:left}
/*Box Comentario de Expertos*/
.box2.expertos{width:635px;margin-top:15px;}
.box2.expertos .boxHead{margin-bottom:15px}
.experTit{ font-size:20px;font-weight:bold;color:#000000;float:left;padding-top:12px}
.box2.expertos .left{width:310px;margin-left:9px;}
.box2.expertos .left a{font-size:20px;padding:18px 0 7px 0;float:left; line-height:23px;}
.box2.expertos .left p{float:left; line-height:18px; color:#000;}
.box2.expertos .video{border:1px solid #ccccc8;float:left}
.box2.expertos .right{width:304px;_width:290px;background-color:#FFFFFF; border:none;}
/*estrellas y votos*/
.starsYComent{padding-top:8px;float:left; width:180px; _width:160px;}
.starsYComent .pipe{color:#d5d5ca;float:left;font-size:17px; float:left;}
.box2.expertos .right ul li .votar{padding-top:1px; padding-left:9px; font-size:12px;}
.starsYComent .votar{ display:none;}
/*estados de poder votar*/
.starsYComent.voto .votar{ display:block;}
.starsYComent.voto .votos { display:none;}

/*votos*/
.starsYComent .votos{float:left;padding-top:1px}
.starsYComent .votos.mod{}
.starsYComent .votos.mod .cantidad{ padding:0px 2px 0px 20px; line-height:15px; color:#000;}
.starsYComent .votos.negativo .cantidad{background-position:left bottom}
.starsYComent .votos .cantidad{margin-left:9px;_margin:0 0 0 4px;padding-left:20px;background:url(../../../Content/images/fd_home_manitos.gif) left top no-repeat}
.starsYComent .votos .cantidad span{font-size:12px;color:#333;font-weight:bold}
/*estrellitas*/
.estrellotasCont{float:left;width:87px;_width:87px;}
.estrellotasCont span{float:left;width:14px;height:15px;background:url(../../../Content/images/fd_home_estrellas.png) left bottom no-repeat;padding-right:2px;_background-position:left bottom}
.estrellotasCont span.act{background-position:left top}
/**/
.box2 .auto{float:left;margin-right:8px}
.auto img{ border:1px solid #d8d8d5;}
.box2.expertos .right ul li{padding:15px 0 15px 13px;_padding:15px 0 15px 13px;float:left;border-bottom:1px solid #ebebe5;_width:270px;}
.box2.expertos .right ul li.last{border:0;text-align:left;_margin-left:7px;_width:260px;}
.box2.expertos .right ul li a{font-size:14px;font-weight:normal;padding-top:4px;float:left}
.box2.expertos .starsYComent .votos .cantidad{padding-top:1px; height:16px;_padding-left:15px; _margin-left:1px; font-size:12px;}
/**/
.promo.mod{width:auto;margin-right:0;margin-bottom:0px;}
.promo.mod .fondo1{width:279px; margin:1px; position:relative;}
.promo.mod .fondo1 .Tl{top:-7px; left:-7px;}
.promo.mod .fondo1 .Tr{top:-7px; right:-7px;}
.promo.mod .fondo1 .Bl{bottom:-7px; left:-7px;}
.promo.mod .fondo1 .Br{bottom:-7px; right:-7px;}
.promo.mod .botCont{padding-left:2px}
.promo.mod .fondo2{background:url(../../../Content/images/fd_home_cajagris_auto.png) right 18px no-repeat;_background-position: 18px 150px;}
.promo.mod .fondo1 p{font-size:12px;width:200px;line-height:16px;.width:240px;}
/*UL RECURSOS*/
.recursos{border:1px solid #e8e8e3;float:left;margin-top:5px}
.recursos li{float:left}
.recursos li.last{border-bottom:0;_margin-left:0;}
.recursos .inner{width:211px;_width:170px;float:right;padding-left:85px;background:url(../../../Content/images/fd_home_recursos1.png) 15px 15px no-repeat; _padding-bottom:8px;.padding-bottom:8px;}
.recursos .inner h4{font-size:16px;padding:12px 0 4px;}
.recursos .inner h3{font-size:16px;padding:9px 0 4px;}
.recursos .inner p{font-size:12px;color:#666666;padding-bottom:2px;width:197px;line-height:16px}
.recursos .inner .more{float:left;padding-left:0;margin-top:0;margin-bottom:9px;position:relative;z-index:50;}
/**/
.recursos .consejos{background-image:url(../../../Content/images/fd_home_recursos2.png);background-position:12px 15px;}
.recursos .info{background-image:url(../../../Content/images/fd_home_recursos3.png);background-position:8px 15px;}
/*.recursos .blog{background-image:url(../../../Content/images/fd_home_recursos4.png)}*/
/**/
.promo.servicios{margin-top:15px;background:#FFFFFF}
.promo.servicios .fondo2{background:none}
.promo.servicios h3{font-size:20px;padding:9px 0 0 3px}
.promo.servicios .more{float:left;padding-left:4px;background:url(../../../Content/images/blt_home_verde.png) right center no-repeat;padding-top:0}
.promo.servicios .cinta{background:url(../../../Content/images/fd_home_cintaEnterate.png);height:78px;width:101px;top:-5px;right:-5px}
.promo.servicios .shadow{margin-top:1px}
/*box 3*/
.box3{float:left;width:310px;border:1px solid #e8e8e3; position:relative;margin-bottom:15px;_margin-bottom:0px; height:margin-bottom:10px; height:128px;}
.box3 .inner{float:left;width:298px;padding-bottom:6px;background:url(../../../Content/images/fd_home_dialogo.png) 16px 39px no-repeat}
.box3 .inner h4{font-weight:normal;font-size:20px;color:#000000;padding:12px 0 18px 15px;line-height:16px;}
.box3 .inner .col{float:right;width:198px;position:relative;}
.box3 .inner .col *{float:left}
.box3 .inner .col .tel{font-size:24px;font-weight:bold;color:#f78f2b;line-height:20px;padding-bottom:10px}
.box3 .inner .col p{color:#666;font-size:12px;line-height:18px;width:200px;}
.box3 .inner .col span{font-size:16px;font-weight:bold;color:#333;line-height:18px;_margin-left:-3px;_position:relative;_right:3px;_width:200px;}
/*banners cont*/
.bannersCont{float:left;width:200px;background-color:#efefef;margin-top:15px;padding:8px 50px 0;border:0;margin-bottom:15px;.padding-bottom:8px;}
/**/
.box3.mod{float:left;_border:1px solid #E8E8E3;margin-left:19px;}
.box3.mod .inner{_border:1px solid #E8E8E3;}
.box3.mod h4{font-size:18px;font-weight:normal;width:190px;line-height:21px;padding-left:102px;padding-bottom:10px; padding-top:11px;_float:right; _padding-left:0; _padding-right:10px;}
.box3.mod .inner p{float:none;display:inline}
.box3.mod .inner p a{float:none;display:inline}
/**/
.box3.mod .inner{background:url(../../../Content/images/fd_home_compu.png) 27px 9px no-repeat;_padding-top:8px;.margin-top:15px;}
.box3.mod .inner .col{width:270px;padding-right:14px;}
.box3.mod .botCont .btnNar span{font-weight:normal}
.planes .img{float:left}
 /*boxTabsCont2*/
.boxTabsCont2{position:relative;top:-1px;padding:23px 10px 0;background:#fff url(../../../Content/images/fd_home_boxTabsCont2.gif) left bottom repeat-x;}
.boxTabsCont2 form{padding:0 0 14px;background:url(../../../Content/images/fd_home_form_borde.gif) left bottom repeat-x;.position:relative;.z-index:20;}
.boxTabsCont2 form ul li{float:left;padding:3px 0 7px; min-height:25px;}
.boxTabsCont2 form label{width:79px;text-align:right;padding-right:8px;color:#666;display:inline-block;float:left;}
.boxTabsCont2 form select{width:191px;border:1px solid #e9e9e2;-mox-border.radius:3px; float:left;}
.boxTabsCont2 form input{width:184px;border:1px solid #e9e9e2;padding-left:5px; font-weight:normal!important}
.boxTabsCont2 form .desde{width:84px;color:#000;padding-left:5px;padding:4px 0 5px 8px;position:relative;top:-5px;margin-right:5px;float:left;font-weight:bold;}
.boxTabsCont2 form .hasta{width:81px;color:#000;padding-left:5px;padding:4px 0 5px 8px;position:relative;top:-5px;_top:-13px;float:left;font-weight:bold;}
.boxTabsCont2 form .search{padding:0 0 2px 260px;}
.boxTabsCont2 form .search .btnNar{padding-top:9px;}
.boxTabsCont2 form .search .btnNar .M{font-weight:normal;padding:6px 26px 8px;font-size:16px;}
.boxTabsCont2 form .avanzada{padding:7px 0 0 11px;float:left;.width:150px;_width:150px}
.planesCont2{}
.planesCont2 ul{width:623px;float:left;padding-bottom:12px;}
.planesCont2 ul li{float:left;padding:10px 12px 0px 0;width:195px;}
.planesCont2 ul li img{float:left}
.planesCont2 ul li .planes{width:153px;text-align:left;float:left;padding-left:10px;padding-top:7px;_margin-left:-3px;_position:relative;_right:3px;}
/*estados de boxTabsCont2*/
.boxTabsCont2 .Contenedor{display:none}
.boxTabsCont2 .activo{display:block}
.colLeft .bn728x90{_margin-left:90px;margin:26px 0 5px 106px}
/*ESTILOS DE PRUEBA*/
*html .colMargen .colLeft{width:995px;_margin-left:12px;}
*html .slides .destacados{width:640px}
*html .destac{float:left;padding:0}
*html .destac li{margin-left:20px}
*html .desplegado .planesCont{width:625px}
*html .boxTabs ul{width:464px}
*html .irAlCompa{width:115px}

.promo .fondo1 p{float:left}
.botCont{float:left}
*html.promo{margin:0;width:10px}
/**/
.home .cajaNegra{width:634px;_width:634px;padding:5px 5px 5px;margin-bottom:15px;float:left;_margin-top:6px;}
/**/
.segSearch{float:left;/* -- Cuando se tenga el btn Ir al comprador activar estas propiedades --- width:468px;_width:457px;background:url(../../../Content/images/fd_home_segSearch.gif) right bottom no-repeat;*/padding-right:13px;padding-top:5px;padding-bottom:10px;}
.busPorSeg{float:left;font-size:12px;color:#333;padding-right:5px;padding-top:2px;}
.porSeg a{font-size:12px;line-height:18px;}
.porSeg span{color:#d5d5cf;padding:0 2px;}
/*boton dinamico gris mediano*/
.butGris{padding-top:12px;float:left;}
.butGris .L{float:left;width:3px;height:25px;background:url(../../../Content/images/btn_home_butGris.png) left top no-repeat;}
.butGris .M{float:left;background:url(../../../Content/images/btn_home_butGris.png) left -25px repeat-x;padding:4px 12px 6px 12px;font-size:12px;cursor:pointer;}
.butGris .R{float:left;width:3px;height:25px;background:url(../../../Content/images/btn_home_butGris.png) right top no-repeat;}
.butGris:hover{text-decoration:none;}
.butGris:hover .L{background-position: left -50px;}
.butGris:hover .M{background-position: left bottom; text-decoration:none;}
.butGris:hover .R{background-position: right -50px;}
/**/
.cajaGris{margin-bottom:0;border-color:#e9e9e2;}
.titular.gris .avisos{width:auto;float:left;}
.cajaGris .titular.gris{background:#e9e9e2 url(../../../Content/images/fd_home_titularGris.gif) left bottom no-repeat;padding-bottom:8px;}
.cajaGris .titular_home.gris{background:#e9e9e2 url(../../../Content/images/fd_home_titularGris.gif) left bottom no-repeat;width: 100.7%;}
.cajaGris .verTodos{background:url(../../../Content/images/btn_home_flechaBlack.png) right 7px no-repeat;width:auto;_width:auto;float:right;padding-bottom:2px; padding-right:18px;}
.cajaGris .verTodos_home{background:url(../../../Content/images/btn_home_flechaBlack.png) right 7px no-repeat;width:auto;_width:auto;float:right;padding-bottom:2px; padding-right:18px;}
/**/
.sombraBotonL{height:218px;width:11px;position:absolute;background:url(../../../Content/images/fd_home_sliderBotonSombra.gif) left top no-repeat;left:-1px;top:61px; z-index:10;}
.sombraBotonR{height:218px;width:11px;position:absolute;background:url(../../../Content/images/fd_home_sliderBotonSombra.gif) right top no-repeat;right:-1px;top:61px;z-index:10;}
.ranking{border:1px solid #e8e8e2;padding:10px 0 0 15px;margin:15px 0 15px 0;position:relative;
 background-color:#ffffff;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#fafafa);
 background-image:-moz-linear-gradient(top, #ffffff 43%, #fafafa 100%);
 background-image:-webkit-linear-gradient(top, #ffffff 43%, #fafafa 100%);
 background-image:-ms-linear-gradient(top, #ffffff 43%, #fafafa 100%);
 background-image:linear-gradient(top, #ffffff 43%, #fafafa 100%);
 background-image:-o-linear-gradient(top, #ffffff 43%, #fafafa 100%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(43%,#ffffff), color-stop(100%,#fafafa));} 
.ranking .A{width:127px;float:left;font-size:16px;color:#333333;line-height:20px;border-right:1px solid #d5d5cf;margin-right:24px;}
.ranking .B{float:left;}
.ranking .B ul{float:left;width:445px;padding-left:6px;}
.ranking .B li{float:left;width:124px;padding-left:23px;padding:2px 0 10px 23px;font-weight: normal;}
.ranking .B li a{font-size:12px;}
.ranking .B ul li.ranking1{ background:url(../../../Content/images/fd_home_one.png) left 2px no-repeat;}
.ranking .B ul li.ranking2{background:url(../../../Content/images/fd_home_two.png) left 2px no-repeat;}
.ranking .B ul li.ranking3{background:url(../../../Content/images/fd_home_tree.png) left 2px no-repeat;}
.ranking .B ul li.ranking4{background:url(../../../Content/images/fd_home_four.png) left 2px no-repeat;}
.ranking .B ul li.ranking5{background:url(../../../Content/images/fd_home_five.png) left 2px no-repeat;}
.ranking .B ul li.ranking6{background:url(../../../Content/images/fd_home_six.png) left 2px no-repeat;}
/*cv ranking*/
. Cv{position:absolute;background-image:url(../../../Content/images/cv_home_ranking.gif);}

.ranking .Cv{ background-image:url(../../../Content/images/cv_home_ranking2.gif);width:5px;height:5px;position:absolute;font-size:0;}
.ranking .Tl{top:-1px;left:-1px;background-position:left top;}
.ranking .Tr{top:-1px;right:-1px;background-position:right top;}
.ranking .Bl{bottom:-1px;_bottom:-2px;left:-1px;background-position:left bottom;}
.ranking .Br{bottom:-1px;_bottom:-2px;right:-1px;background-position:right bottom;}
/*estados*/
.tabsNotiRoad li span{display:none;}
.tabsNotiRoad li a{display:block;cursor:pointer;}
.tabsNotiRoad li.act span{display:block;}
.tabsNotiRoad li.act a{display:none;}
/**/
.box2 .titular.gris{ padding-bottom:0; margin-left:-4px; width:101.3%;width:101.4%\0/; .margin-right:-4px;}
.copete{float:left;font-size:12px;color:#666;padding:10px 0px 12px 12px; font-weight:normal;}
/*CONTENIDO DE LAS SOLAPAS NOTICIAS Y ROADTEST*/
.agrup{}
.agrup .Noticias{display:none;}
.agrup .RoadTest{display:none;}
.agrup .active{display:block;}
/**/
.expertos .copete{width:615px;}
.expertos .avisos{display:block;padding:2px 0 0 14px;font-size:18px;font-weight:bold;padding:2px 0 9px 14px;}
.expertos.cajaGris .titular.gris{width:644px;margin-left:-4px;border-bottom:1px solid #d2d2cd;background-position:left -2px;}
/*ALL MARCS*/
.allMarcs{float:left;padding-top:6px;padding-bottom:14px;}
.allMarcs .tit{display:block;color:#333333;font-size:16px;padding-bottom:7px;padding-top:11px;}
.allMarcs ul{padding-bottom:16px;border-bottom:1px solid #d5d5d5;margin-left:7px;}
.allMarcs li{width:182px;float:left;line-height:16px;padding-left:9px;background:url(../../../Content/images/blt_home_chiquito_gris.png) left 7px no-repeat;}
.allMarcs li a{font-size:12px;}
.allMarcs .last ul{border:none;}

/**/
.box4{float:left;border:1px solid #e8e8e3;padding:10px 12px 12px 12px;background:#fff url(../../../Content/images/fd_home_box4_degrade.gif) left bottom repeat-x; margin-top:15px;position:relative;margin-bottom:15px;.width:92%;}
.box4 .tit{font-size:16px;color:#000;line-height:20px;padding-bottom:10px;}
.box4 .inner{border:1px solid #e3e3df;padding:4px 0 6px 19px;background:#f9f9f7;}
.box4 .inner a{float:left;width:90%;line-height:21px;padding-left:18px;background:url(../../../Content/images/btl_flecha.png) left 4px no-repeat;font-size:12px;}
/**/
.box4 .Cv{ background-image:url(../../../Content/images/cv_home_box4.gif);width:5px;height:5px;position:absolute;font-size:0;}
.box4 .Tl{top:-1px;left:-1px;background-position:left top;}
.box4 .Tr{top:-1px;right:-1px;background-position:right top;}
.box4 .Bl{bottom:-1px;left:-1px;background-position:left bottom;}
.box4 .Br{bottom:-1px;right:-1px;background-position:right bottom;}
/**/
.promoCont .serv{width:303px;padding-bottom:17px;}
.promoCont .serv h2{width:191px;line-height:20px;padding-top:10px;padding-bottom:7px;}
.promoCont .serv .seeMore{font-size:12px;padding-right:17px;background:url(../../../Content/images/blt_home_verde.png) right 4px no-repeat;padding:3px 17px 0px 0px;position:relative;z-index:20;}
.promoCont .serv .content .etiqueta{background:url(../../../Content/images/fd_home_cintaEnterate.png) left top no-repeat;height:78px;width:101px;top:-5px;right:-5px;}
/*cvs*/
.recursos .Cv{ background-image:url(../../../Content/images/cv_home_recursos.gif);width:5px;height:5px;position:absolute;font-size:0;}
.recursos .Tl{top:-1px;left:-1px;background-position:left top;}
.recursos .Tr{top:-1px;right:-1px;background-position:right top;}
.recursos .Bl{bottom:-1px;left:-1px;background-position:left bottom;}
.recursos .Br{bottom:-1px;right:-1px;background-position:right bottom;}
/*cvs box2*/
.box2 .Cv{ background-image:url(../../../Content/images/cv_home_grises_box2.gif);width:4px;height:4px;position:absolute;font-size:0;}
.box2 .Tl{top:-5px;left:-5px;background-position:left top;}
.box2 .Tr{top:-5px;right:-5px;background-position:right top;}
.box2 .Bl{bottom:-5px;left:-5px;background-position:left bottom;}
.box2 .Br{bottom:-5px;right:-5px;background-position:right bottom;}
/**/
.box3 .Cv{ background-image:url(../../../Content/images/cv_home_recursos.gif);width:5px;height:5px;position:absolute;font-size:0;}
.box3 .Tl{top:-1px;left:-1px;background-position:left top;}
.box3 .Tr{top:-1px;right:-1px;background-position:right top;}
.box3 .Bl{bottom:-1px;left:-1px;background-position:left bottom;}
.box3 .Br{bottom:-1px;right:-1px;background-position:right bottom;}
/**/
.box3.mod .seeMore{font-size:12px;padding-right:17px;background:url(../../../Content/images/btn_home_flechaBlack.png) right 4px no-repeat;padding:3px 17px 1px 14px;margin-top:5px;float:left;position:relative;z-index:50;}
/**/
.bannersCont.mod{width:auto;float:none;padding:0 0 0 0;}
.bannersCont.mod .bn200x100{margin:0;margin-left:27px;}
.bannersCont.mod.bann{margin-left:20px;padding-left:7px;margin-right:20px;margin-top:2px;margin-bottom:19px;}
.bn950x50{margin:0;}
.bn300x250{margin-top:-4px;}
/**/
.vendeAuto{background-color:#ffffff;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#dadad4);
 background-image:-moz-linear-gradient(top, #ffffff 24%, #dadad4 100%);
 background-image:linear-gradient(top, #ffffff 24%, #dadad4 100%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(24%,#ffffff), color-stop(100%,#dadad4));}
.vendeAuto .fondo1{border:1px solid #fff;}
/*borrar*/
.starsYComent.mod{_padding-top:8px;_border:none;}
.box3.mod .inner .col.u{position:static;padding-top:5px;color:#666666;}
.L .pngfix{left:0!important;}
.boxProduct .avisosCont a{max-height:32px;overflow:hidden;float:left;width:140px;_width:130px;font-size:14px;}
.vendeTuAutoAhora{float:right;background:url(../../../Content/images/vendeTuAutoAhora.gif) left top no-repeat;width:300px;height:154px;position:relative;}
.vendeTuAutoAhora .vendeTuAuto{position:absolute;left:17px; top:20px;font-size:20px}
.vendeTuAutoAhora .areaActiva{float:left;padding:50px 93px 21px 16px;font-size:12px;color:#000;z-index:2;position:relative;_padding:50px 100px 80px 16px!important; _width:200px!important;}
.vendeTuAutoAhora .areaActiva:hover{text-decoration:none;}
.box2 .right ul li .link{max-height:74px;}
.boxPromo.etqNuevo .areaActiva{ position:absolute;width:300px;height:93px;z-index:10;float:left;}
.recursos .areaActiva{position:absolute;width:300px;height:96px;z-index:10px;}
.box3.mod .areaActiva{position:absolute;width:300px;height:137px;z-index:10px;left:0;}
.imContent{display:none;float:left;}
.imContent a{float:left;}
.imContent.act{display:block;}
.agrup .right ul{_position:static;_float:right;}
/*curvas grises*/
.boxSlider .Cv{ background-image:url(../../../Content/images/cv_home_autosDestacadosHoy.gif);width:5px;height:5px;position:absolute;font-size:0;}
.boxSlider .Tl{top:-5px;left:-5px;background-position:left top;}
.boxSlider .Tr{top:-5px;right:-5px;background-position:right top;}
.boxSlider .Bl{bottom:-5px;left:-5px;background-position:left bottom;}
.boxSlider .Br{bottom:-5px;right:-5px;background-position:right bottom;}
/**/
.aLie{font-size:inherit;color:#000;}
/**/
.VtodosN{display:none!important;}
.VtodosN.act{display:block!important;}
/*CAJA REDES SOCIALES*/
.boxPromo .content .redesSoc{line-height:24px;width:249px;padding-top:8px;padding-bottom:15px;}
.SNetworks span{float:left;width:32px;height:52px;background: url(../../../Content/images/sp_home_redesSociales.png) no-repeat;margin-left:17px;margin-right:4px;}
.SNetworks span.first{margin-left:0;}
.SNetworks .twitter{background-position:left top;}
.SNetworks .face{background-position: -32px top;}
.SNetworks .youtube{background-position:-64px top;}
.SNetworks a{font-size:12px;float:left;margin-top:7px;}
/**/
.imgCatalogo .content{padding-bottom:4px;}
/*ultimos lanzamientos*/
.ranking .C{display:none;float:left;width:615px;border-top:1px solid #d5d5cf;padding-top:12px;}
.ranking .C .B li{background:url(../../../Content/images/btl_flecha.png) 3px 3px no-repeat;}
.box3.mod .aLie{font-size:18px;}
.box2.expertos .left .titulVid{width:302px;}
/*SELECTS CON ESTILOS*/
.selectDiv{float:left;margin:2px 0 0;height:37px;width:258px;}
.selectDiv.first{z-index:501;}
.selectDiv.first .selectSpan{z-index:33;}
.selectDiv ul{padding:0 0 0px;width:258px;}
.selectDiv ul.act{padding:0; overflow-y:scroll!important;height:158px!important;z-index:35;}
.selectDiv ul li{/*height:37px;width:258px;*/}
.selectDiv ul.act li a{ padding:4px 4px!important;color:#000;}
.selectUl.act li:hover{background:#fe8717;}
.selectUl.act li:hover a{color:#fff;}
.selectUl li.first.last, .selectUl li.first.last:hover{color:#666;background:#f1f1f1}
.selectDiv ul li.first a{padding: 10px 9px;font-size:14px;width:258px;}
.selectDiv ul li a, .pagePerfil .box-editar .box-colr .fila .selectDiv ul li span{padding: 11px 9px 12px;font-size:14px;width:240px;}
.selectDiv ul li span{font-weight:bold;}
.selectDiv ul.act li.act span{padding:4px 6px !important}
.selectDiv .selectSpan{top:-9px;height:30px;}
.selectDiv .selectSpan span{margin: 14px 0 0 10px;}
.selectDiv{position:relative;z-index:500;width:191px;height:22px;}
.selectDiv.first{z-index:301;}
ul.selectUl{margin:0;overflow:hidden;background:#fff;border:1px solid #e9e9e2;border-radius:3px;position:absolute;height:26px;width:191px;z-index:30; top:-7px;}
ul.selectUl.act li{margin:0px;padding:0;overflow:hidden;height:23px;width:191px;clear:both;margin-left:3px;min-height:0;}
ul.selectUl.act li.first{border:none;}
ul.selectUl li a, ul.selectUl li span{padding:1px 9px;position:relative;z-index:20;float:left;height:14px;width:116px;outline:none;font-weight:normal;}
.selectSpan{position:absolute;width:28px;height:20px;top:3px;right:0;cursor:pointer;cursor:hand;z-index:32;}
.selectSpan span{float:left;width:9px;height:4px;margin:8px 0 0 10px;background: url(../../../Content/images/fd_home_piquito_select.gif) left top no-repeat;}
/**/
.selectDiv.little{width:92px;margin-right:7px;}
.little .selectUl{width:92px;}
/*CURVAS SELECTUL*/
.selectDiv .Cv{ background-image:url(../../../Content/images/cv_home_select.gif);width:3px;height:3px;position:absolute;font-size:0; z-index:32;}
.selectDiv .Tl{top:-7px;left:0px;background-position:left top;}
.selectDiv .Tr{top:-7px;right:-2px;background-position:right top;}
.selectDiv .Bl{bottom:1px;left:0px;background-position:left bottom;}
.selectDiv .Br{bottom:1px;right:-2px;background-position:right bottom;}
/**/
.input{float:left;position:relative;padding:0;margin:0;}
.input input{-webkit-border-radius: 3px;}
.input .Cv{background-image:url(../../../Content/images/cv_home_select.gif);width:3px;height:3px;position:absolute;font-size:0;z-index:50;}
.input .Tl{top:-5px;left:0px;background-position:left top;}
.input .Tr{top:-5px;right:5px;background-position:right top;}
.input .Bl{bottom:5px;left:0px;background-position:left bottom;}
.input .Br{bottom:5px;right:5px;background-position:right bottom;}
/**/
.input.mod .Tr{top:-5px;right:0px;background-position:right top;}
.input.mod .Br{bottom:5px;right:0px;background-position:right bottom;}
/*z index*/
.z1{z-index:700!important; position:relative!important;}
.z2{z-index:600!important;position:relative!important;}
.z3{z-index:500!important;position:relative!important;}
/*BOX CODIGO DEL AVISO*/
.avisoCode{padding:0 0 16px 15px;background:url(../../../Content/images/fd_home_codigoAviso_degrade.gif) left bottom repeat-x;width:283px;}
.avisoCode .codigo{font-size:16px;font-weight:normal;color:#000;display:block;padding:13px 0 12px;}
.avisoCode form .enter{float:left;width:68px;height:25px;background:url(../../../Content/images/btn_home_boxCodigo_boton.png) left top no-repeat;border:0;color:#fff;cursor:pointer}
.avisoCode form .enter:hover{background-position: left bottom;}
.avisoCode form .ingresa{float:left;border:1px solid #e9e9e2;padding:5px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; width:172px; margin-right:12px;}
.avisoCode .Cv{background-image:url(../../../Content/images/cv_home_codigo.gif);}
/*Last Changes*/
.columnaLeft .boxContBox{float:left;}