.blur{ 
   background-color: #ccc; /*shadow color*/ 
   color: inherit; 
   margin-left: 4px; 
   margin-top: 4px; 
   width:90px;
} 
.shadow, 
.content{ 
   position: relative; 
   bottom: 2px; 
   right: 2px; 
} 
.shadow{ 
   background-color: #666; /*shadow color*/ 
   color: inherit; 
} 
.content{ 
   background-color: #fff; /*background color of content*/ 
   color: #000; /*text color of content*/ 
   border: 1px solid #000; /*border color*/ 
   padding: 2px 2px;
   vertical-align: middle;
   cursor:hand;
} 