@charset "utf-8";
/* CSS Document */
body{ position:relative; width:100%; background:#FFFFFF!important;}
.layout{ padding:0 12px; width:570px;}
/*Botonera*/
.Botonera{width:361px;margin:0 auto;padding:6px 0 13px 239px; float:left;}
.Botonera ul{width:290px;}
.Botonera li{float:left;width:88px;}
.Botonera li a.Cerrar{color:#238cee;display:block;margin:17px 0 0 8px;}
/*Contenido*/
.Contenido{border:1px solid #d6d7e4;border-left:none;border-right:none;padding:0px 0;width:566px; float:left; border-bottom:none;}
.informacionCont{ margin-top:0; padding-bottom:33px;}
table.filasCont td.titul{width:124px;padding-left:7px;}
table.filasCont td.titul span{ font-size:12px; width:124px;}
.tilde{ background:url(../../../Content/images/sp_general.png) -6px 0px no-repeat;}
.cruz{background:url(../../../Content/images/sp_general.png) -20px 0px no-repeat;}
table.filasCont td{ width:87px;}
table.filasCont td.space2{ width:5px;}
table.filasCont td.space3{width:5px;}
table.filasCont td.space4{width:5px;}
/**/
.filasMater .space3{ display:table-cell;}
/*ie7*/
:first-child+html .filasMater .space3{ display:block;}
.filasMater .auto3{ display:table-cell;}
:first-child+html .filasMater .auto3{ display:block;}
.filasMater .space4{ display:table-cell;}
:first-child+html .filasMater .space4{ display:block;}
.filasMater .auto4{ display:table-cell;}
:first-child+html .filasMater .auto4{ display:block;}
/**/
.autoDesplegado .columna{ width:102px; margin-right:5px;}
.autoDesplegado .columna .datos{ width:102px; padding-left:2px; padding-top:2px;}
.columna .datos span{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000000; padding-left:4px; float:left; width:90%; padding-top:15px; padding-bottom:3px;}
.autoDesplegado .columna .datos p.precio{ padding-left:2px; color:#000000;}
ul.titulo li.first{ width:124px;}
/**/
ul.titulo li.auto1{ width:102px; margin-right:5px;}
ul.titulo li.auto2{width:102px; margin-right:5px;}
ul.titulo li.auto3{width:102px; margin-right:5px;}
ul.titulo li.auto4{width:102px; margin-right:5px;}
.autosComparacionCont{ padding-left:134px;}
.filasMater h4{ padding-left:5px;}
.compararCont{ margin-bottom:-58px;}
.botCont .mod{ padding-top:5px;}
table.filasCont td.titul{ background-color:#f4f4f4;}

/*POP UP FICHA IMPRIMIR*/
.fichaImprimir{width:568px;}
.fichaImprimir .principal{width:100%;}
.fichaImprimir .tituloYPrecioCont{ max-width:100%;}
.fichaImprimir .tituloYPrecioCont h3{ float:left; padding-right:12px; letter-spacing:-0.03em; line-height:30px;}
.fichaImprimir .tituloYPrecioCont h3.last{ padding-right:0;}
.fichaImprimir .tituloYPrecioCont .precio{ float:right; text-align:right; width:146px; letter-spacing:-0.03em; line-height:30px; padding-right:12px; font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#00000; padding:0;}
.fichaImprimir .tituloYPrecioCont .precio h3{ float:right; padding:0;}
.fichaImprimir .contPrincipal{float:left; padding:14px 0 75px 0;}
.fichaImprimir .contPrincipal .fotocont{ float:left; width:302px; height:227px;}
.fichaImprimir .contPrincipal ul{float:left; width:250px; width:250px; padding-left:13px; padding-top:2px;left: 100px; position:relative;}
.fichaImprimir .contPrincipal ul li{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#333333; line-height:18px; padding:3px 0 3px 0;}
.fichaImprimir .contPrincipal ul li.last label ,.fichaImpromir .contPrincipal ul li.last label .blackstar{float:left;}
.fichaImprimir .contPrincipal li label{color:#666666;}
.fichaImprimir .blackStarsCont{float:left; padding:3px 0 0 7px;}
.fichaImprimir .contactarVendedor{float:left; width:100%;}
/*.fichaImprimir .contactarVendedor .cajaGris{margin-bottom:0;}*/
/*.fichaImprimir .cajaGris{border:5px solid #d8d8d8;}*/
/*.fichaImprimir .cajaGris .titular.gris{background:#d8d8d8; padding-bottom:1px;}*/
.fichaImprimir .cajaGris .titular h4{line-height:30px;font-weight:normal;padding:0 0 0 13px;}

.fichaImprimir .fotoyVendedor{ float:left; width:98%; background-color:#fff; padding:12px 0 15px 10px; position:relative;}
.fichaImprimir .fotoyVendedor .foto{ float:left; width:85px; height:65px; border:1px solid #b7b7b7; margin-right:8px;}

.fichaImprimir .fotoyVendedor ul{ float:left; width:347px;}
.fichaImprimir .fotoyVendedor ul p{ font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding-bottom:3px;}
.fichaImprimir .fotoyVendedor ul li{ line-height:19px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.fichaImprimir .fotoyVendedor ul li label{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#555555; padding-right:4px;}
.cintaConce{ float:left; width:104px; height:80px; background: url(../../../Content/images/fd_ficha_imprimir_cinta_concesionaria.png) left top no-repeat; position:absolute; right:-4px; top:-7px;}
.deautosLogo{ padding:11px 0 15px 0;}
/*CONTACTAR VENDEDOR INSTANCIAS*/
.contactarVendedor .cintaConce{ background:none;}
.contactarVendedor.conce .cintaConce{background:url(../../../Content/images/fd_ficha_imprimir_cinta_concesionaria.png) left top no-repeat;}
.comun{ float:left;}
.comun .cajaGris .titular.gris{ background-color:#eeeeee; padding:2px 0 2px 0;}
.fichaImprimir .comun{ width:100%;}
.fichaImprimir .comun .cajaGris{ border-color:#eeeeee; border:none; margin-top:23px;}
.fichaImprimir .comun p{ color:#333333; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; float:left;padding:0 0 6px 15px; width:96%;}
.fichaImprimir .inner h4{ font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#000;}
.fichaImprimir .inner ul{ width:578px; padding-bottom:23px; float:left;}
.fichaImprimir .inner ul li{float:left;padding-left:0px;width:254px;font-family:Arial, Helvetica, sans-serif;font-size:12px;background:url(../../../Content/images/blt_ficha_imprimir_negro.png) left 6px no-repeat;line-height:20px;padding-right:10px;}

.flechadepublicacion{ float:left; padding:0 0 9px 15px; width:350px;}
.croquis{ border:2px solid #E9E9E2; float:left; margin-bottom:22px; margin-top:10px;}
/*ESPECIFICACIONES*/
.fichaImprimir .especificaciones .comun{ border-top:1px solid #d1d1ca;}
.fichaImprimir .especificaciones .comun .titular *{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; float:left; line-height:19px; padding:17px 0 4px 0; font-weight:normal;}
.fichaImprimir .especificaciones .comun .titular h4{font-weight:bold;}
.fichaImprimir .especificaciones .inner{ padding-top:24px;}
.fichaImprimir .especificaciones .inner h4{ padding-bottom:7px;}
.fichaImprimir .especificaciones .comun .titular h4 span{ padding:0 4px 0 4px!important;}

/* fichatecnica Open */
.fichatecnicaOpen{ float:left;padding-bottom:30px;}
.fichatecnicaOpen .tecnica{ float:left; width:100%; margin-top:-6px; padding-bottom:6px;}
.fichatecnicaOpen .tecnica h4{ float:left; width:100%; padding:30px 0 17px 17px; font-weight:bold; font-size:16px;}
.fichatecnicaOpen .tecnica ul{ float:left; width:100%; margin-left:3px;}
.fichatecnicaOpen .tecnica ul li{ width:100%; display:inline-block; padding:6px 10px 5px 16px;}
.fichatecnicaOpen .tecnica ul li.gris{ background:#f6f6f6;}
.fichatecnicaOpen .tecnica ul li span{ float:left; padding:5px 0 5px 16px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.fichatecnicaOpen .tecnica ul li p{ float:right;padding:0; width:auto;}
/*COLORES*/
.coloresOpen{ display:block; float:left; width:100%;}

/*colores open*/
.coloresOpen{ float:left; width:644px;}
.coloresOpen ul{ float:left; width:100%; padding-top:18px; padding-left:1px; padding-bottom:9px;}
.coloresOpen ul li{ width:145px; float:left; padding:5px 0 6px 0;}
.coloresOpen ul li img{ float:left;}
.coloresOpen ul li span{ float:left; padding:2px 0 0 6px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.comun .coloresOpen .paleta{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#888888; padding:0 0 6px 7px;}

/* SOLAPA REVIEW*/
.reviewInner{ float:left; width:568px; border-top:1px solid #d1d1ca; padding:14px 0 37px 0; margin-top:15px; border-bottom:1px solid #d1d1ca;}
.reviewInner .titulCont{ float:left; width:100%; padding-bottom:10px; padding-top:4px;}
.reviewInner .titulCont h3{ float:left; font-weight:normal; font-size:18px;}
.reviewInner .titulCont .fecha{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding-top:5px;}
.reviewInner .titulCont .fecha span{ float:left; color:#000000; padding-right:3px;}
.reviewInner .titulCont .fecha p{ float:left; color:#000000;}
.reviewInner .left{float:left; width:162px;}
.reviewInner .left  .cajaGris .main.grande{ background:none;}
.reviewInner .left .cajaGris{}
.reviewInner .left .cajaGris .estrellotasCont{width:143px; padding:10px 0 13px 9px; border-bottom:1px solid #e9e9e2;}
.reviewInner .left .cajaGris .estrellotasCont span{ float:left; width:18px; height:19px; background:url(../../../Content/images/fd_blackstars_grandes.png) left top no-repeat; padding-right:3px;}
.reviewInner .left .cajaGris .estrellotasCont span.active{ background-position: left bottom;}
/*.reviewInner .left .cajaGris .estrellotasCont span.active:hover{ background-position: left -19px;}*/
.reviewInner .left .cajaGris .puntaje{width:144px; padding:11px 0 12px 9px;}
.reviewInner .left .cajaGris .puntaje h5{ float:left; width:100%; padding-bottom:4px; font:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;}
.reviewInner .left .cajaGris .puntaje .porcentaje{ float:left;}
.inside{ float:left;}
.inside label{ float:left; width:100%; padding-bottom:2px;  padding-top:5px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444444;}
.inside .barra{ float:left; width:112px; height:10px; background:#fff; margin-bottom:4px; border:1px solid #b1b1b1;}
.inside .barra .relleno{ float:left; width:50%; height:10px; background:#c3c3c3;}
/*rellenos*/
.inside .barra .relleno.cero{ width:0%;}
.inside .barra .relleno.uno{ width:20%;}
.inside .barra .relleno.dos{width:40%;}
.inside .barra .relleno.tres{width:60%;}
.inside .barra .relleno.cuatro{width:80%;}
.inside .barra .relleno.cinco{width:100%;}
.reviewInner .right{float:left; width:392px;}
.reviewInner .right .blok1{ float:left; width:378px; padding-bottom:0px; padding-left:16px;}
.reviewInner .right .blok1 p{ float:left; padding-bottom:18px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; width:103%;}
.reviewInner .right .blok2{float:right; width:384px; padding-top:2px; padding-bottom:0;}
/*ie6 fix*/
/**html .reviewInner .right .blok2{ width:410px;}*/
.reviewInner .right .blok2 .positivo{width:203px; float:left; padding-left:3px;}
.reviewInner .right .blok2 .positivo h5{float:left; width:100%; color:#000000; background:url(../../../Content/images/blt_fichas_positivo_black.gif) left center no-repeat; margin-left:3px; padding-left:21px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; }
.reviewInner .right .blok2 .positivo ul{ float:left; width:100%; padding-top:8px;}
.reviewInner .right .blok2 .positivo ul li{ display:block; padding-left:3px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding-left:11px; background:url(../../../Content/images/blt_ficha_imprimir_negro.png) left center no-repeat; line-height:20px;}

/**/
.reviewInner .right .blok2 .negativo{float:left; width:224px;}
.reviewInner .right .blok2 .negativo h5{float:left; width:100%; background:url(../../../Content/images/blt_fichas_negativo_black.gif) left center no-repeat; margin-left:3px; padding-left:21px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
.reviewInner .right .blok2 .negativo ul{ float:left; width:100%; padding-top:8px;}
.reviewInner .right .blok2 .negativo ul li{ display:block; padding-left:4px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding-left:11px; background:url(../../../Content/images/blt_ficha_imprimir_negro.png) left center no-repeat; line-height:20px;}

.reviewInner .right .blok2 .negativo{float:left; width:173px; padding-left:5px;}
/*comentario del experto*/
.comentExperto{}
.reviewInner .right .blok1 .comentExperto p{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000000; width:235px; padding-bottom:13px;}
.comentExperto .flechadepublicacion{ padding:2px 0 0 0; max-width:135px; width:134px; float:right; text-align:right; margin-right:-10px;}
.fichaImprimir .contactarVendedor .cajaGris .titular h4  {line-height:25px; font-weight:normal; padding-bottom:5px;}
.fichaImprimir .comun.mod2 .cajaGris{ margin-bottom:9px; margin-top:17px;}
.fichaImprimir .especificaciones .mod3 .inner{ padding:14px 0 12px 0;}
.fichaImprimir .especificaciones .mod3 .inner ul{ padding-bottom:13px;}
/**/
.fichaImprimir .contactarVendedor{ float:left; width:98%; padding:0 5px 5px 5px; background:#D8D8D8; margin-bottom:23px;}
.fichaImprimir .contactarVendedor h3{ width:98%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000; font-weight:normal; background:#d8d8d8; padding:7px 0 6px 13px;}
