.txtver1abd {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold}
.txtar2bd {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
.bordeforms {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #666666; border: 0px #666666 solid}
.bordeboton { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; border: 1px #000000 solid; background-color: #CCCCCC}
.fdogriscl {  background-color: #E9E9E9}
.fdogrisosc { background-color: #D6D6D6}
.arialbold2rojo {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #CC0033}
.txtar2bdrojo { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold ; color: #CC0033}
.txtver1rojo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal ; color: #CC0033}
.fdoverde { background-color: #B8DC1C }
.fdoverde2 { background-color: #CDE557 }
.fdonaranja1 { background-color: #FF8400}
.volver {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bolder; color: #999999; text-decoration: none}
.txtarial1 { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal}
.arialbold3it { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #000000; font-style: italic}
.arial3it { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: normal; color: #000000; font-style: italic }
.nuevabusq { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bolder; color: #000000; text-decoration: none }
.fdoverdeosc { background-color: #94C21D}
.fdoverdecl { background-color: #B8DA1A}
.ampliar { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none }
.txtar2 {FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.txtar1 {FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}




/* Avisos Lineales*/

.avisoslineales{
width:744px;
min-height:24px;
float:left;
background:transparent;
margin-bottom:5px;
border:1px solid #dedede;
padding-left: 8px;
    padding-right: 8px;
}
.avisoslineales_activo{
width:760px;
height:24px;
float:left;
background:#f7f7f7;
margin-bottom:5px;
border:1px solid #dedede;
}

.avisoslineales:hover .tabs_txt1_simple {text-decoration:underline;}

.avisoslineales:hover .txtcontad {text-decoration:underline;}

.avisoslineales:hover .txtcontad:hover {text-decoration:underline; color:#FF8600;}

.avisoslineales:hover {border:1px solid #F7991F;/*background:#fff;*/}

.avisotablineales{width:745px; height:auto; float:left; border-bottom:0px dashed #cdcdcd;}

.tabs_txt1_lineales, .tabs_txt1_lineales a {
width:auto;
text-align:left;
float:left;
font-family:Arial, Helvetica, sans-serif; 
font-size:13px; 
font-weight:bold; 
text-decoration:none;
margin-right:4px;
margin-top:4px;
/*margin-left:8px;*/
}

.tabs_txt_lineales {
    color:#333333;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:normal;
    margin-right:5px;
    margin-top:4px;
    text-decoration:none;
            width:auto;
}



/***Aviso SuperPremium***/

.cajamadre{
width:730px;
height:115px;
background-image:url(/img/AvisoSuperPremium/bg_destaque.jpg);
margin-left:0px;
}
.ref{
width:730px;
height:17px;
float:left;
padding-top:3px;
}
.ref2{
width:730px;
height:20px;
float:left;
margin-top:5px;
}
.contador{
width:50px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:60px;
}
.visitas{
width:100px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:16px;
}
.garantizado{
width:95px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:402px;
}
.caja1{
width:730px;
height:95px;
float:left;
border:0px solid #ff0000;
}
.box1{
width:36px;
height:60px;
border:0px solid #cdcdcd;
float:left;
margin-top:5px;
}
.icon{
width:27px;
height:25px;
border:0px solid #cdcdcd;
float:left;
padding-left:8px;
padding-top:5px;
}
.year{
width:30px;
height:30px;
border:0px solid #cdcdcd;
float:left;
padding-left:6px;
padding-top:5px;
}
.foto{
width:81px;
height:61px;
float:left;
margin-top:5px;
border:1px solid #cccccc;
padding-left:1px;
padding-top:1px;
}
.box2{
width:502px;
height:60px;
border:0px solid #cdcdcd;
float:left;
margin-top:14px;
}
.titulo{
width:253px;
height:20px;
margin-left:125px;
float:left;
margin-bottom:0px;
}
.detalle{
width:490px;
height:40px;
margin-left:5px;
float:left;
align:left;
}
.logo01{
width:80px;
height:60px;
float:left;
margin-top:5px;
margin-left:12px;
}
.txt00{
font-size:11px;
font-family: Arial, Helvetica, sans-serif;
color:#333333;
font-weight:normal;
}
.txt01{
font-size:10px;
font-family: Verdana,Arial,Helvetica,sans-serif;
color:#333333;
font-weight:normal;
}
.txt02{
font-size:11px;
font-family: Arial, Helvetica, sans-serif;
color:#333333;
font-weight:bold;
}
.txt03{
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
color:#333333;
font-weight:normal;
}
.localidad{
width:73px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:5px;
text-align:center;
}
.kms{
width:45px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:0px;
text-align:center;
}
.precio{
width:105px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:5px;
text-align:center;
}
.combustible{
width:110px;
height:18px;
float:left;
padding-bottom:2px;
margin-left:6px;
text-align:center;
}
a.link_aviso:link{
color: #F68920;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration:underline;
}
a.link_aviso:visited{
color: #F68920;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration: underline;
}
a.link_aviso:hover{
color: #333333;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration: underline;
}
a.link_aviso:active{
color: #F68920;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-decoration:none;
}
.classhidden{
visibility: hidden;   
}
.classhiddenLogoAviso{
visibility: hidden;   
}







/* css nuevo listado*/


.lisresultado{
width:100%;
height:auto;
float:left;
}


#lisleft{
background:#fff;
float:left;
height:auto;
margin:0 0 31px 0;
padding-left:0;
padding-right:0;
padding-top:0px;
width:223px;
}


.lisavisos{
width:778px;
height:auto;
float:left;
background:#fff;
margin-bottom:30px;
}





/*banners*/

.lisbanners{
width:100%;
height:auto;
float:left;
background:#fff;
margin-bottom:10px;
padding-top:0px;
}
.banner1{
/*width:728px;*/
height:auto;
float:left;
background:#fff;
margin-bottom:0px;
margin-left:100px;
margin-top:0px;
border:0px solid #cdcdcd;
margin-left:250px;
}
.banner2{
width:250px;
height:90px;
float:left;
background:#f2f2f2;
margin-left:10px;
margin-right:10px;
}
.banner3{
width:250px;
height:100px;
float:left;
background:#cdcdcd;
margin-bottom:20px;
margin-right:10px;
margin-left:0px;
}
/*banners*/




.navtrail{
width:777px;
height:auto;
float:left;
background:#fff;
margin-top:10px;
/*margin-bottom:10px;*/
margin-top:5px;
padding-left:0px;

}
.globos{
width:auto;
height:20px;
float:left;
margin-right:8px;
margin-bottom:5px;
padding-top:4px;
padding-left:5px;
padding-right:5px;
background:#f2f2f2;
border:1px solid #cdcdcd;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none
}



#h1_title{
width:100%;
height:auto;
float:left;
background:transparent;
margin-bottom:0px;
border-top:0px solid #FDC976;
padding-top:10px;
padding-bottom:10px;
margin-left:0px;
}


.h1Prefix{
font-family: Arial, Helvetica, sans-serif; 
font-size: 18px; 
font-weight: normal; 
color: #000; 
text-decoration: none;
display:inline;
}


#h1_title h1{
font-family: Arial, Helvetica, sans-serif; 
font-size: 18px; 
font-weight: normal; 
color: #000; 
text-decoration: none;
display:inline;
}


.numcars{
font-family: Arial, Helvetica, sans-serif; 
font-size: 18px; 
font-weight: bold; 
color: #F27420; 
text-decoration: none;
}








.tools{
width:auto;
height:auto;
float:left;
background:transparent;
margin-top:7px;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: normal; 
color: #F16822; 
text-decoration: none;
margin-left:0px;
}




.filtros{
width:780px;
height:40px;
float:left;
background:#fff;
/*margin-bottom:10px;*/
padding-top:10px;
}


.optionals{
width:781px;
height:auto;
float:left;
background:#fff;
margin-bottom:0px;
border-top:1px solid #FDC976;
border-bottom:1px solid #FDC976;
padding-top:0px;
}




.paginador{
width:725px;
height:30px;
float:left;
background:#fff;
margin-top:20px;
margin-bottom:10px;
border-top:1px solid #FDC976;
border-bottom:1px solid #FDC976;
padding-top:10px;
}



.aviso{
width:723px;
height:120px;
float:left;
background:#fff;
margin-bottom:10px;
border:1px solid #EFEFEF;
}

.avisosp{
width:760px;
height:120px;
float:left;
background:#FFF2CE;
margin-bottom:10px;
border:1px solid #FFF2CE;
}

.avisop{
width:760px;
height:120px;
float:left;
background:#EFEFEF;
margin-bottom:10px;
border:1px solid #EFEFEF;
}

.avisop .pic2
{
    margin-top:10px;

}
.avisop .pic2 a img {
margin-left: 15px;
}
#face2:hover{opacity: 1;}
#twi:hover{opacity: 1;}
#email:hover{opacity: 1;}

.avisop:hover {border:1px solid #F7991F;/*background:#fff;*/}
.avisosp:hover{border:1px solid #F7991F;/*background:#fff;*/}

.avisop:hover .tabs_txt1 {text-decoration:underline;}

.avisosp:hover .tabs_txt1 {text-decoration:underline;}

.avisosp:hover .txtcontad a { text-decoration:underline; }
.avisop:hover .txtcontad a { text-decoration:underline; }

.avisosimple{
width:760px;
height:30px;
float:left;
background:transparent;
margin-bottom:10px;
border:1px solid #dedede;
}



.fotocar{
width:120px;
height:95px;
float:left;
background:transparent;
}


.fotocar2{
width:117px;
height:auto;
float:left;
background:transparent;
margin-left:3px;
}



.pic{
width:96px;
height:72px;
max-width:96px;
max-height:72px;
float:left;
background:#f2f2f2;
border:1px solid #cdcdcd;
margin-top:10px;
margin-left:10px;
}

/*.pic a{ border:0px solid #FDC976;}*/


.picsimple{
width:auto;
height:auto;
max-width:96px;
max-height:72px;
float:left;
margin-top:5px;
margin-left:10px;
}


.avisosp .pic2{
width:96px;
height:66px;
max-width:88px;
max-height:72px;
float:left;
background:#f2f2f2;
margin-top:10px;
border:solid 1px #DEDEDE ;
margin-left:13px;
/*padding-top:6px;
padding-left:8px;*/
}


.cantfotos{
width:10px;
height:auto;
margin-right:25px;
max-width:96px;
max-height:72px;
float:left;
border:0px solid #dcdcdc;
margin-top:0px;
margin-left:11px;
background-image:url(../../../Content/images/ico_foto.png);
background-repeat:no-repeat;
background-position: 2px 6px;
padding-left:20px;
}

.cantvisit{
width:80px;
height:auto;
border:0px solid #dcdcdc;
margin-top: 0px;
margin-left:5px;
float:left;
}


.txtcontad{
font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #333; 
text-decoration: none
}

.txtcontad a { text-decoration:none; }


.txtvermas{
font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-left:120px;
margin-bottom:10px;
width:100px;
float:left;
}




.avisotabs{
width:520px;
/*max-width:590px;*/
height:25px;
float:left;
border-bottom:1px solid #cdcdcd;
}

.tab_price{
width:70px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #F99A40; 
text-decoration: none;

margin-top:6px;
}




.avisotabsimple{
width:615px;
height:auto;
float:left;
border-bottom:0px dashed #cdcdcd;
}



.desplegable{
width:110px;
height:26px;
float:left;
padding-top:0px;
border-bottom:0px dashed #cdcdcd;
margin-left:10px;
}


.desplegable2{
width:110px;
height:22px;
float:left;
border:1px solid #cdcdcd;
background: #FFFFFF;
}


.tittabs{
width:auto;
/*max-width:590px;*/
height:30px;
float:left;
border-bottom:0px dashed #cdcdcd;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color:#666;
margin-left:138px;
}

.tittabs ul li {display:inline;padding:0px;}





.avisodet{
width:500px;
/*max-width:590px;*/
height:49px;
max-height:55px;
float:left;
line-height:13px;
padding-top:10px;
}


.avisoadic{
width:760px;
/*max-width:590px;*/
height:25px;
float:left;
background:transparent;
}


.avisoadic2{
width:760px;
/*max-width:590px;*/
height:25px;
float:left;
background:transparent;
}

.avisoadic3{
width:723px;
/*max-width:590px;*/
height:25px;
float:left;
background:#fff;
}




.tabs_price{
width:50px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #ff0000; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
}




.tabs_txt{
width:68px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:0px;
margin-top:6px;
}

.tabs_txt1{
width:490px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #0066AE; 
text-decoration: none;
margin-right:10px;
margin-top:0px;
}

.tabs_txt1 a{
width:490px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #0066AE; 
text-decoration: none;
margin-right:10px;
margin-top:0px;
}


.tabs_txt1_simple, .tabs_txt1_simple a {
width:230px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #0066AE; 
text-decoration: none;
margin-right:10px;
margin-top:3px;
}


.tab_modelo{
width:170px;
text-align:left;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
}




.tabs_txt2{
width:130px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
margin-left:100px;
}


.tabs_txttop{
width:130px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
margin-left:17px;
}


.tabs_txt2_simple{
width:130px;
text-align:center;
float:left;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333; 
text-decoration: none;
margin-right:10px;
margin-top:6px;
margin-left:20px;
}


.save1{
height:20px;
width:auto;
float:left;
margin-left:20px;
padding-top:0px;
margin-right:0px;
}


.ver{
height:20px;
width:auto;
float:left;
margin-left:527px;
padding-top:0px;
margin-right:0px;
}


.ver2{
height:20px;
width:auto;
float:left;
margin-left:35px;
padding-top:7px;
margin-right:20px;
}


.vermas{
height:auto;
width:200;
float:left;
margin-left:0px;
padding-top:0px;
margin-right:0px;
float:left;
}


.rss{
height:20px;
float:left;;
padding-top:5px;
margin-right:20px;
background:url(../images/rss.jpg) no-repeat;
background-position:1px 4px;
padding-left:25px;
}

.savelist{
height:20px;
width:auto;
float:left;;
background:url(../images/save.png) no-repeat;
padding-left:25px;
background-position:1px 4px;
padding-top:5px;
margin-right:0px;
}

.fb{
height:20px;
width:auto;
float:left;;
padding-top:5px;
margin-right:20px;
}

.tw{
height:20px;
width:auto;
float:left;;
padding-top:5px;
margin-right:20px;
}





#lisleft ul{margin:0 0 0px 0px;	margin:0 px 20px;	padding-bottom:0px;	height:auto;}
#lisleft ul li{ background:url(../../../Content/images/arrow1.gif) no-repeat 0 8px; padding:0 0 5px 15px; list-style:none;}
#lisleft ul li a{ color:#0066AE; font-size:12px; font-family: Arial, Helvetica, sans-serif;text-decoration:none;}
#menu_body ul li a{ color:#0066AE; font-size:12px; font-family: Arial, Helvetica, sans-serif;text-decoration:none;}
#lisleft ul li a:hover{ color:#0066AE;text-decoration:underline;}




ul#navlist
{
text-align: left;
list-style: none;
padding: 0;
margin: 0 auto;
width: 100%;
}

ul#navlist li
{
display: block;
margin: 0;
padding-left: 15px;
padding-top:3px;
height:auto;

}

/* css nuevo listado*/



/*CSS Yahoo new version style pagination*/
	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
		font-family:Tahoma,Helvetica,sans-serif;
		font-size:.85em;
		margin-bottom:20px;
	
		width:100%;
		margin-left:2px;
	}
	
	div.pagination a {
		border: 1px solid #ccdbe4;
		margin-right:3px;
		padding:2px 8px;
		background-position:bottom;
		text-decoration: none;
		color: #000000;		
	}
	div.pagination a:hover, div.pagination a:active {
		border: 1px solid #CCDBE4;
		background-image:none;
		background-color:#FDC976;
		color: #fff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.pagination span {margin-left:7px; margin-right:7px;}
	
	div.pagination span.disabled {
		display:none;
	}
	div.pagination a.next{
		border:2px solid #ccdbe4;
		margin:0 0 0 10px;
	}
	div.pagination a.next:hover{
		border:2px solid #2b55af;
	}
	div.pagination a.prev{
		border:2px solid #ccdbe4;margin:0 10px 0 0;	}
	div.pagination a.prev:hover{
		border:2px solid #2b55af;
	}	

#avi1 { position:relative; top:-5px;}
#avi1 { position:relative; top:-5px;}


.avisosimple:hover .tabs_txt1_simple {text-decoration:underline;}

.avisosimple:hover .txtcontad {text-decoration:underline;}

.avisosimple:hover .txtcontad:hover {text-decoration:underline; color:#FF8600;}

#bread {
	background:#FFF; 
	padding-right:10px; 
	text-decoration:none; 
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	padding-top:17px;
	padding-bottom:10px;
	padding-left:15px;
	}


.close{padding-top:0px;}
.globos ul li{display:inline;padding-top:0px;}







.avisosimple:hover {
	border:1px solid #F7991F;/*background:#fff;*/
	
	}






/*colapsable*/


.menu_list {	
	width: 150px;
}
.menu_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-weight:normal;
	color:#0066AE;
}
.menu_body {
	display:none;
}
.menu_body a{
  display:block;
  color:#0066AE;
  padding-left:0px;
  font-weight:normal;
  text-decoration:none;
}
.menu_body a:hover{
  color: #0066AE;
  text-decoration:underline;
  }
  /*colapsable*/



#tit-fil{width:205px;height:40px;background:url("../../../Content/images/top-tit.jpg") no-repeat; margin-bottom:10px;padding-left:10px;font-family:Arial,Helvetica,sans-serif;font-size:14px; color: #333; font-weight:bold;padding-top:13px;}


/*style select*/

span.customStyleSelectBox { font-family:Arial,Helvetica,sans-serif;font-size:12px; background-color: #fff; color:#7c7c7c; padding:5px 7px; border:1px solid #cdcdcd; -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px 5px; }
span.customStyleSelectBox.changed { background-color: #fff; }
.customStyleSelectBoxInner { background:url("../../../Content/images/arrow_down.gif") no-repeat center right; }

/*style select*/



ul#FlotaIzquierda{
list-style:none;
padding:7px 0;
margin:0;
font-family:Arial,Helvetica,sans-serif;
font-size:12px; 
color: #333; 
font-weight:bold;
}
ul#FlotaIzquierda li{
float:left;
display:block;
}


ul#FlotaIzquierda .tab01{ background:#fff;}

ul#FlotaIzquierda .tab02{background:#fff;margin-left:69px;}

ul#FlotaIzquierda .tab03{background:#fff;margin-left:51px;}

ul#FlotaIzquierda .tab04{background:#fff;margin-left:22px;}

ul#FlotaIzquierda .tab05{background:#fff;margin-left:18px;}










/*modal desde div*/


	/* base semi-transparente */
    .overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index:1001;
		opacity:.75;
        -moz-opacity: 0.75;
        filter: alpha(opacity=75);
    }
	
    /* estilo para lo q este dentro de la ventana modal */
    .modal {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 40%;
        padding: 16px;
        background: #fff;
		color: #333;
        z-index:1002;
        overflow: auto;
		font-family:Arial,Helvetica,sans-serif;
		font-size:12px;
		color:#333;
    }


	.closemodal{ width: 100%;background:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;border-bottom:1px solid #cdcdcd;text-align:right;/*margin-bottom:20px;*/}






/*modal desde div*/





.filtres{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
width: 160px;
padding: 0px;
margin: 0px;
}
.filtres ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
.filtres ul li {
margin: 0px;
padding: 0px;
}




/*iAvisos 200x200*/

#iAvisos-200x200{width:200px;height:auto;float:left;background:#fff;margin-top:30px;margin-left:8px;192}

/*iAvisos 200x200*/





/*banner flotante derecho*/

.banner_r {
    background-color: transparent;
    font-family: Verdana,Geneva,Arial,sans-serif;
    height: 600px;
    left: 50%;
    margin-left: 506px;
    position: fixed;
    top: 165px;
    visibility: visible;
    width: 120px;
}

/*banner flotante derecho*/








/* banner bottom */


#banner_bottom {
background-color:transparent;
width:728px;
height:auto;
margin-left:10px;
}


/* banner bottom */
